
.campaign-header-small-theme .row.campaign-wrap {
  max-width: 76.125rem;
}
.campaign-header-small-theme .main-content > .row > .large-8.columns {
  width: 68%;
}
.campaign-header-small-theme .feature-area .main-content {
  margin-bottom: 1rem;
  min-height: 12.25rem;
  padding-top: 2rem;
  position: relative;
}
.campaign-header-small-theme .feature-area .main-content h1 {
  font-family: "Slate W02 Bold", Arial, sans-serif;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: none;
}
.campaign-header-small-theme .feature-area .main-content h2 {
  margin-bottom: 2.5rem;
  font-size: 1.65rem;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
  color: #ffffff;
}
