/*font-override.scss
font folder*/


@font-face {
	font-family: "OR Frutiger Next Light";
	src: url("fonts/FrutigerNextW06Light.eot?#iefix");
	src: url("fonts/FrutigerNextW06Light.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06Light.woff2") format("woff2"), url("fonts/FrutigerNextW06Light.woff") format("woff"), url("fonts/FrutigerNextW06Light.ttf") format("truetype"), url("fonts/FrutigerNextW06Light.svg#FrutigerNextW06Light") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Light Italic";
	src: url("fonts/FrutigerNextW06LightItalic.eot?#iefix");
	src: url("fonts/FrutigerNextW06LightItalic.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06LightItalic.woff2") format("woff2"), url("fonts/FrutigerNextW06LightItalic.woff") format("woff"), url("fonts/FrutigerNextW06LightItalic.ttf") format("truetype"), url("fonts/FrutigerNextW06LightItalic.svg#FrutigerNextW06LightItalic") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Regular";
	src: url("fonts/FrutigerNextW06Regular.eot?#iefix");
	src: url("fonts/FrutigerNextW06Regular.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06Regular.woff2") format("woff2"), url("fonts/FrutigerNextW06Regular.woff") format("woff"), url("fonts/FrutigerNextW06Regular.ttf") format("truetype"), url("fonts/FrutigerNextW06Regular.svg#FrutigerNextW06Regular") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Regular Italic";
	src: url("fonts/FrutigerNextW06Italic.eot?#iefix");
	src: url("fonts/FrutigerNextW06Italic.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06Italic.woff2") format("woff2"), url("fonts/FrutigerNextW06Italic.woff") format("woff"), url("fonts/FrutigerNextW06Italic.ttf") format("truetype"), url("fonts/FrutigerNextW06Italic.svg#FrutigerNextW06Italic") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Medium";
	src: url("fonts/FrutigerNextW06Medium.eot?#iefix");
	src: url("fonts/FrutigerNextW06Medium.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06Medium.woff2") format("woff2"), url("fonts/FrutigerNextW06Medium.woff") format("woff"), url("fonts/FrutigerNextW06Medium.ttf") format("truetype"), url("fonts/FrutigerNextW06Medium.svg#FrutigerNextW06Medium") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Medium Italic";
	src: url("fonts/FrutigerNextW06MediumItalic.eot?#iefix");
	src: url("fonts/FrutigerNextW06MediumItalic.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06MediumItalic.woff2") format("woff2"), url("fonts/FrutigerNextW06MediumItalic.woff") format("woff"), url("fonts/FrutigerNextW06MediumItalic.ttf") format("truetype"), url("fonts/FrutigerNextW06MediumItalic.svg#FrutigerNextW06MediumItalic") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Bold";
	src: url("fonts/FrutigerNextW06Bold.eot?#iefix");
	src: url("fonts/FrutigerNextW06Bold.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06Bold.woff2") format("woff2"), url("fonts/FrutigerNextW06Bold.woff") format("woff"), url("fonts/FrutigerNextW06Bold.ttf") format("truetype"), url("fonts/FrutigerNextW06Bold.svg#FrutigerNextW06Bold") format("svg");
}
@font-face {
	font-family: "OR Frutiger Next Bold Italic";
	src: url("fonts/FrutigerNextW06BoldItalic.eot?#iefix");
	src: url("fonts/FrutigerNextW06BoldItalic.eot?#iefix") format("eot"), url("fonts/FrutigerNextW06BoldItalic.woff2") format("woff2"), url("fonts/FrutigerNextW06BoldItalic.woff") format("woff"), url("fonts/FrutigerNextW06BoldItalic.ttf") format("truetype"), url("fonts/FrutigerNextW06BoldItalic.svg#FrutigerNextW06BoldItalic") format("svg");
}

// Slate Family 

@font-face {
	font-family: "OR Slate W02 Light";
	src: url("fonts/SlateW02Light.eot?#iefix");
	src: url("fonts/SlateW02Light.eot?#iefix") format("eot"), url("fonts/SlateW02Light.woff2") format("woff2"), url("fonts/SlateW02Light.woff") format("woff"), url("fonts/SlateW02Light.ttf") format("truetype"), url("fonts/SlateW02Light.svg#SlateW02Light") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Light Italic";
	src: url("fonts/SlateW02LightItalic.eot?#iefix");
	src: url("fonts/SlateW02LightItalic.eot?#iefix") format("eot"), url("fonts/SlateW02LightItalic.woff2") format("woff2"), url("fonts/SlateW02LightItalic.woff") format("woff"), url("fonts/SlateW02LightItalic.ttf") format("truetype"), url("fonts/SlateW02LightItalic.svg#SlateW02LightItalic") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Book";
	src: url("fonts/SlateW02Book.eot?#iefix");
	src: url("fonts/SlateW02Book.eot?#iefix") format("eot"), url("fonts/SlateW02Book.woff2") format("woff2"), url("fonts/SlateW02Book.woff") format("woff"), url("fonts/SlateW02Book.ttf") format("truetype"), url("fonts/SlateW02Book.svg#SlateW02Book") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Book Italic";
	src: url("fonts/SlateW02BookItalic.eot?#iefix");
	src: url("fonts/SlateW02BookItalic.eot?#iefix") format("eot"), url("fonts/SlateW02BookItalic.woff2") format("woff2"), url("fonts/SlateW02BookItalic.woff") format("woff"), url("fonts/SlateW02BookItalic.ttf") format("truetype"), url("fonts/SlateW02BookItalic.svg#SlateW02BookItalic") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Regular";
	src: url("fonts/SlateW02Regular.eot?#iefix");
	src: url("fonts/SlateW02Regular.eot?#iefix") format("eot"), url("fonts/SlateW02Regular.woff2") format("woff2"), url("fonts/SlateW02Regular.woff") format("woff"), url("fonts/SlateW02Regular.ttf") format("truetype"), url("fonts/SlateW02Regular.svg#SlateW02Regular") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Regular Italic";
	src: url("fonts/SlateW02RegularItalic.eot?#iefix");
	src: url("fonts/SlateW02RegularItalic.eot?#iefix") format("eot"), url("fonts/SlateW02RegularItalic.woff2") format("woff2"), url("fonts/SlateW02RegularItalic.woff") format("woff"), url("fonts/SlateW02RegularItalic.ttf") format("truetype"), url("fonts/SlateW02RegularItalic.svg#SlateW02RegularItalic") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Medium";
	src: url("fonts/SlateW02Medium.eot?#iefix");
	src: url("fonts/SlateW02Medium.eot?#iefix") format("eot"), url("fonts/SlateW02Medium.woff2") format("woff2"), url("fonts/SlateW02Medium.woff") format("woff"), url("fonts/SlateW02Medium.ttf") format("truetype"), url("fonts/SlateW02Medium.svg#SlateW02Medium") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Medium Italic";
	src: url("fonts/SlateW02MediumItalic.eot?#iefix");
	src: url("fonts/SlateW02MediumItalic.eot?#iefix") format("eot"), url("fonts/SlateW02MediumItalic.woff2") format("woff2"), url("fonts/SlateW02MediumItalic.woff") format("woff"), url("fonts/SlateW02MediumItalic.ttf") format("truetype"), url("fonts/SlateW02MediumItalic.svg#SlateW02MediumItalic") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Bold";
	src: url("fonts/SlateW02Bold.eot?#iefix");
	src: url("fonts/SlateW02Bold.eot?#iefix") format("eot"), url("fonts/SlateW02Bold.woff2") format("woff2"), url("fonts/SlateW02Bold.woff") format("woff"), url("fonts/SlateW02Bold.ttf") format("truetype"), url("fonts/SlateW02Bold.svg#SlateW02Bold") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Bold Italic";
	src: url("fonts/SlateW02BoldItalic.eot?#iefix");
	src: url("fonts/SlateW02BoldItalic.eot?#iefix") format("eot"), url("fonts/SlateW02BoldItalic.woff2") format("woff2"), url("fonts/SlateW02BoldItalic.woff") format("woff"), url("fonts/SlateW02BoldItalic.ttf") format("truetype"), url("fonts/SlateW02BoldItalic.svg#SlateW02BoldItalic") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Black";
	src: url("fonts/SlateW02Black.eot?#iefix");
	src: url("fonts/SlateW02Black.eot?#iefix") format("eot"), url("fonts/SlateW02Black.woff2") format("woff2"), url("fonts/SlateW02Black.woff") format("woff"), url("fonts/SlateW02Black.ttf") format("truetype"), url("fonts/SlateW02Black.svg#SlateW02Black") format("svg");
}
@font-face {
	font-family: "OR Slate W02 Black Italic";
	src: url("fonts/SlateW02BlackItalic.eot?#iefix");
	src: url("fonts/SlateW02BlackItalic.eot?#iefix") format("eot"), url("fonts/SlateW02BlackItalic.woff2") format("woff2"), url("fonts/SlateW02BlackItalic.woff") format("woff"), url("fonts/SlateW02BlackItalic.ttf") format("truetype"), url("fonts/SlateW02BlackItalic.svg#SlateW02BlackItalic") format("svg");
}


.font-or-slate-light, .font-or-slate-light *, [data-mx-font="slate-light"] {
	font-family: "OR Slate W02 Light" !important;
}
.font-or-slate-light-italic, .font-or-slate-light-italic *, [data-mx-font="slate-light-italic"] {
	font-family: "OR Slate W02 Light Italic" !important;
}
.font-or-slate-book, .font-or-slate-book *, [data-mx-font="slate-book"] {
	font-family: "OR Slate W02 Book" !important;
}
.font-or-slate-book-italic, .font-or-slate-book-italic *, [data-mx-font="slate-book-italic"] {
	font-family: "OR Slate W02 Book Italic" !important;
}
.font-or-slate-regular, .font-or-slate-regular *, [data-mx-font="slate-regular"] {
	font-family: "OR Slate W02 Regular" !important;
}
.font-or-slate-regular-italic, .font-or-slate-regular-italic *, [data-mx-font="slate-regular-italic"] {
	font-family: "OR Slate W02 Regular Italic" !important;
}
.font-or-slate-medium, .font-or-slate-medium *, [data-mx-font="slate-medium"] {
	font-family: "OR Slate W02 Medium" !important;
}
.font-or-slate-medium-italic, .font-or-slate-medium-italic *, [data-mx-font="slate-medium-italic"] {
	font-family: "OR Slate W02 Medium Italic" !important;
}
.font-or-slate-bold, .font-or-slate-bold *, [data-mx-font="slate-bold"] {
	font-family: "OR Slate W02 Bold" !important;
}
.font-or-slate-bold-italic, .font-or-slate-bold-italic *, [data-mx-font="slate-bold-italic"] {
	font-family: "OR Slate W02 Bold Italic" !important;
}
.font-or-slate-black, .font-or-slate-black *, [data-mx-font="slate-black"] {
	font-family: "OR Slate W02 Black" !important;
}
.font-or-slate-black-italic, .font-or-slate-black-italic *, [data-mx-font="slate-black-italic"] {
	font-family: "OR Slate W02 Black Italic" !important;
}

.font-or-frutiger-light, .font-or-frutiger-light *, [data-mx-font="frutiger-light"] {
	font-family: "OR Frutiger Next Light" !important;
}
.font-or-frutiger-light-italic, .font-or-frutiger-light-italic *, [data-mx-font="frutiger-light-italic"] {
	font-family: "OR Frutiger Next Light Italic" !important;
}
.font-or-frutiger-regular, .font-or-frutiger-regular *, [data-mx-font="frutiger-regular"] {
	font-family: "OR Frutiger Next Regular" !important;
}
.font-or-frutiger-regular-italic, .font-or-frutiger-regular-italic *, [data-mx-font="frutiger-regular-italic"] {
	font-family: "OR Frutiger Next Regular Italic" !important;
}
.font-or-frutiger-medium, .font-or-frutiger-medium *, [data-mx-font="frutiger-medium"] {
	font-family: "OR Frutiger Next Medium" !important;
}
.font-or-frutiger-medium-italic, .font-or-frutiger-medium-italic *, [data-mx-font="frutiger-medium-italic"] {
	font-family: "OR Frutiger Next Medium Italic" !important;
}
.font-or-frutiger-bold, .font-or-frutiger-bold *, [data-mx-font="frutiger-bold"] {
	font-family: "OR Frutiger Next Bold" !important;
}
.font-or-frutiger-bold-italic, .font-or-frutiger-bold-italic *, [data-mx-font="frutiger-bold-italic"] {
	font-family: "OR Frutiger Next Bold Italic" !important;
}