/* hide unauthored hamburger menu on desktop */
@media only screen and (min-width: 64.063em) {
    .main-nav nav {
        margin-right: 1rem;
    }
    .main-nav .nav-icon-link {
        display: none;
    }
}
