form#mar-af {
    margin-bottom: 40px;
}
/* Simple Enrollment */
#guide-mobile-navigator-wrapper{position:relative}
#guide-mobile-navigator{position:absolute;left:60%;right:0;z-index:1000;overflow:hidden;height:0}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{display:none!important}
/*@media(max-width:767px){.visible-xs{display:block!important}
}
@media(min-width:768px){.container{width:720px}
}
@media(min-width:992px){.container{width:940px}
}
@media(min-width:1200px){.container{width:1140px}
}*/
#mar-af .container-fluid{margin-right:auto;margin-left:auto;padding-left:0;padding-right:0}
#mar-af .row{margin-left:0;margin-right:0}
#mar-af #mar-af .col-xs-1,#mar-af #mar-af .col-sm-1,#mar-af #mar-af .col-md-1,#mar-af #mar-af .col-lg-1,#mar-af #mar-af .col-xs-2,#mar-af #mar-af .col-sm-2,#mar-af #mar-af .col-md-2,#mar-af #mar-af .col-lg-2,#mar-af #mar-af .col-xs-3,#mar-af #mar-af .col-sm-3,#mar-af #mar-af .col-md-3,#mar-af #mar-af .col-lg-3,#mar-af #mar-af .col-xs-4,#mar-af #mar-af .col-sm-4,#mar-af #mar-af .col-md-4,#mar-af #mar-af .col-lg-4,#mar-af #mar-af .col-xs-5,#mar-af #mar-af .col-sm-5,#mar-af #mar-af .col-md-5,#mar-af #mar-af .col-lg-5,#mar-af #mar-af .col-xs-6,#mar-af #mar-af .col-sm-6,#mar-af #mar-af .col-md-6,#mar-af #mar-af .col-lg-6,#mar-af #mar-af .col-xs-7,#mar-af #mar-af .col-sm-7,#mar-af #mar-af .col-md-7,#mar-af #mar-af .col-lg-7,#mar-af #mar-af .col-xs-8,#mar-af #mar-af .col-sm-8,#mar-af #mar-af .col-md-8,#mar-af #mar-af .col-lg-8,#mar-af #mar-af .col-xs-9,#mar-af #mar-af .col-sm-9,#mar-af #mar-af .col-md-9,#mar-af #mar-af .col-lg-9,#mar-af #mar-af .col-xs-10,#mar-af #mar-af .col-sm-10,#mar-af #mar-af .col-md-10,#mar-af #mar-af .col-lg-10,#mar-af #mar-af .col-xs-11,#mar-af #mar-af .col-sm-11,#mar-af #mar-af .col-md-11,#mar-af #mar-af .col-lg-11,#mar-af #mar-af .col-xs-12,#mar-af #mar-af .col-sm-12,#mar-af #mar-af .col-md-12,#mar-af #mar-af .col-lg-12{position:relative;min-height:1px;padding-left:0;padding-right:0}
#mar-af #mar-af .col-xs-1,#mar-af #mar-af .col-xs-2,#mar-af #mar-af .col-xs-3,#mar-af #mar-af .col-xs-4,#mar-af #mar-af .col-xs-5,#mar-af #mar-af .col-xs-6,#mar-af #mar-af .col-xs-7,#mar-af #mar-af .col-xs-8,#mar-af #mar-af .col-xs-9,#mar-af #mar-af .col-xs-10,#mar-af #mar-af .col-xs-11,#mar-af #mar-af .col-xs-12{float:left}
#mar-af #mar-af .col-xs-12{width:100%}
#mar-af #mar-af .col-xs-11{width:91.66666667%}
#mar-af #mar-af .col-xs-10{width:83.33333333%}
#mar-af #mar-af .col-xs-9{width:75%}
#mar-af #mar-af .col-xs-8{width:66.66666667%}
#mar-af #mar-af .col-xs-7{width:58.33333333%}
#mar-af #mar-af .col-xs-6{width:50%}
#mar-af #mar-af .col-xs-5{width:41.66666667%}
#mar-af #mar-af .col-xs-4{width:33.33333333%}
#mar-af #mar-af .col-xs-3{width:25%}
#mar-af #mar-af .col-xs-2{width:16.66666667%}
#mar-af #mar-af .col-xs-1{width:8.33333333%}
#mar-af #mar-af .col-xs-pull-12{right:100%}
#mar-af #mar-af .col-xs-pull-11{right:91.66666667%}
#mar-af #mar-af .col-xs-pull-10{right:83.33333333%}
#mar-af #mar-af .col-xs-pull-9{right:75%}
#mar-af #mar-af .col-xs-pull-8{right:66.66666667%}
#mar-af #mar-af .col-xs-pull-7{right:58.33333333%}
#mar-af #mar-af .col-xs-pull-6{right:50%}
#mar-af #mar-af .col-xs-pull-5{right:41.66666667%}
#mar-af #mar-af .col-xs-pull-4{right:33.33333333%}
#mar-af #mar-af .col-xs-pull-3{right:25%}
#mar-af #mar-af .col-xs-pull-2{right:16.66666667%}
#mar-af #mar-af .col-xs-pull-1{right:8.33333333%}
#mar-af #mar-af .col-xs-pull-0{right:0}
#mar-af #mar-af .col-xs-push-12{left:100%}
#mar-af #mar-af .col-xs-push-11{left:91.66666667%}
#mar-af #mar-af .col-xs-push-10{left:83.33333333%}
#mar-af #mar-af .col-xs-push-9{left:75%}
#mar-af #mar-af .col-xs-push-8{left:66.66666667%}
#mar-af #mar-af .col-xs-push-7{left:58.33333333%}
#mar-af #mar-af .col-xs-push-6{left:50%}
#mar-af #mar-af .col-xs-push-5{left:41.66666667%}
#mar-af #mar-af .col-xs-push-4{left:33.33333333%}
#mar-af #mar-af .col-xs-push-3{left:25%}
#mar-af #mar-af .col-xs-push-2{left:16.66666667%}
#mar-af #mar-af .col-xs-push-1{left:8.33333333%}
#mar-af #mar-af .col-xs-push-0{left:0}
#mar-af #mar-af .col-xs-offset-12{margin-left:100%}
#mar-af #mar-af .col-xs-offset-11{margin-left:91.66666667%}
#mar-af #mar-af .col-xs-offset-10{margin-left:83.33333333%}
#mar-af #mar-af .col-xs-offset-9{margin-left:75%}
#mar-af #mar-af .col-xs-offset-8{margin-left:66.66666667%}
#mar-af #mar-af .col-xs-offset-7{margin-left:58.33333333%}
#mar-af #mar-af .col-xs-offset-6{margin-left:50%}
#mar-af #mar-af .col-xs-offset-5{margin-left:41.66666667%}
#mar-af #mar-af .col-xs-offset-4{margin-left:33.33333333%}
#mar-af #mar-af .col-xs-offset-3{margin-left:25%}
#mar-af #mar-af .col-xs-offset-2{margin-left:16.66666667%}
#mar-af #mar-af .col-xs-offset-1{margin-left:8.33333333%}
#mar-af #mar-af .col-xs-offset-0{margin-left:0}
@media(min-width:768px){#mar-af #mar-af .col-sm-1,#mar-af #mar-af .col-sm-2,#mar-af #mar-af .col-sm-3,#mar-af #mar-af .col-sm-4,#mar-af #mar-af .col-sm-5,#mar-af #mar-af .col-sm-6,#mar-af #mar-af .col-sm-7,#mar-af #mar-af .col-sm-8,#mar-af #mar-af .col-sm-9,#mar-af #mar-af .col-sm-10,#mar-af #mar-af .col-sm-11,#mar-af .col-sm-12{float:left}
#mar-af .col-sm-12{width:100%}
#mar-af .col-sm-11{width:91.66666667%}
#mar-af .col-sm-10{width:83.33333333%}
#mar-af .col-sm-9{width:75%}
#mar-af .col-sm-8{width:66.66666667%}
#mar-af .col-sm-7{width:58.33333333%}
#mar-af .col-sm-6{width:50%}
#mar-af .col-sm-5{width:41.66666667%}
#mar-af .col-sm-4{width:33.33333333%}
#mar-af .col-sm-3{width:25%}
#mar-af .col-sm-2{width:16.66666667%}
#mar-af .col-sm-1{width:8.33333333%}
#mar-af .col-sm-pull-12{right:100%}
#mar-af .col-sm-pull-11{right:91.66666667%}
#mar-af .col-sm-pull-10{right:83.33333333%}
#mar-af .col-sm-pull-9{right:75%}
#mar-af .col-sm-pull-8{right:66.66666667%}
#mar-af .col-sm-pull-7{right:58.33333333%}
#mar-af .col-sm-pull-6{right:50%}
#mar-af .col-sm-pull-5{right:41.66666667%}
#mar-af .col-sm-pull-4{right:33.33333333%}
#mar-af .col-sm-pull-3{right:25%}
#mar-af .col-sm-pull-2{right:16.66666667%}
#mar-af .col-sm-pull-1{right:8.33333333%}
#mar-af .col-sm-pull-0{right:0}
#mar-af .col-sm-push-12{left:100%}
#mar-af .col-sm-push-11{left:91.66666667%}
#mar-af .col-sm-push-10{left:83.33333333%}
#mar-af .col-sm-push-9{left:75%}
#mar-af .col-sm-push-8{left:66.66666667%}
#mar-af .col-sm-push-7{left:58.33333333%}
#mar-af .col-sm-push-6{left:50%}
#mar-af .col-sm-push-5{left:41.66666667%}
#mar-af .col-sm-push-4{left:33.33333333%}
#mar-af .col-sm-push-3{left:25%}
#mar-af .col-sm-push-2{left:16.66666667%}
#mar-af .col-sm-push-1{left:8.33333333%}
#mar-af .col-sm-push-0{left:0}
#mar-af .col-sm-offset-12{margin-left:100%}
#mar-af .col-sm-offset-11{margin-left:91.66666667%}
#mar-af .col-sm-offset-10{margin-left:83.33333333%}
#mar-af .col-sm-offset-9{margin-left:75%}
#mar-af .col-sm-offset-8{margin-left:66.66666667%}
#mar-af .col-sm-offset-7{margin-left:58.33333333%}
#mar-af .col-sm-offset-6{margin-left:50%}
#mar-af .col-sm-offset-5{margin-left:41.66666667%}
#mar-af .col-sm-offset-4{margin-left:33.33333333%}
#mar-af .col-sm-offset-3{margin-left:25%}
#mar-af .col-sm-offset-2{margin-left:16.66666667%}
#mar-af .col-sm-offset-1{margin-left:8.33333333%}
#mar-af .col-sm-offset-0{margin-left:0}
}
@media(min-width:992px){#mar-af .col-md-1,#mar-af .col-md-2,#mar-af .col-md-3,#mar-af .col-md-4,#mar-af .col-md-5,#mar-af .col-md-6,#mar-af .col-md-7,#mar-af .col-md-8,#mar-af .col-md-9,#mar-af .col-md-10,#mar-af .col-md-11,#mar-af .col-md-12{float:left}
#mar-af .col-md-12{width:100%}
#mar-af .col-md-11{width:91.66666667%}
#mar-af .col-md-10{width:83.33333333%}
#mar-af .col-md-9{width:75%}
#mar-af .col-md-8{width:66.66666667%}
#mar-af .col-md-7{width:58.33333333%}
#mar-af .col-md-6{width:50%}
#mar-af .col-md-5{width:41.66666667%}
#mar-af .col-md-4{width:33.33333333%}
#mar-af .col-md-3{width:25%}
#mar-af .col-md-2{width:16.66666667%}
#mar-af .col-md-1{width:8.33333333%}
#mar-af .col-md-pull-12{right:100%}
#mar-af .col-md-pull-11{right:91.66666667%}
#mar-af .col-md-pull-10{right:83.33333333%}
#mar-af .col-md-pull-9{right:75%}
#mar-af .col-md-pull-8{right:66.66666667%}
#mar-af .col-md-pull-7{right:58.33333333%}
#mar-af .col-md-pull-6{right:50%}
#mar-af .col-md-pull-5{right:41.66666667%}
#mar-af .col-md-pull-4{right:33.33333333%}
#mar-af .col-md-pull-3{right:25%}
#mar-af .col-md-pull-2{right:16.66666667%}
#mar-af .col-md-pull-1{right:8.33333333%}
#mar-af .col-md-pull-0{right:0}
#mar-af .col-md-push-12{left:100%}
#mar-af .col-md-push-11{left:91.66666667%}
#mar-af .col-md-push-10{left:83.33333333%}
#mar-af .col-md-push-9{left:75%}
#mar-af .col-md-push-8{left:66.66666667%}
#mar-af .col-md-push-7{left:58.33333333%}
#mar-af .col-md-push-6{left:50%}
#mar-af .col-md-push-5{left:41.66666667%}
#mar-af .col-md-push-4{left:33.33333333%}
#mar-af .col-md-push-3{left:25%}
#mar-af .col-md-push-2{left:16.66666667%}
#mar-af .col-md-push-1{left:8.33333333%}
#mar-af .col-md-push-0{left:0}
#mar-af .col-md-offset-12{margin-left:100%}
#mar-af .col-md-offset-11{margin-left:91.66666667%}
#mar-af .col-md-offset-10{margin-left:83.33333333%}
#mar-af .col-md-offset-9{margin-left:75%}
#mar-af .col-md-offset-8{margin-left:66.66666667%}
#mar-af .col-md-offset-7{margin-left:58.33333333%}
#mar-af .col-md-offset-6{margin-left:50%}
#mar-af .col-md-offset-5{margin-left:41.66666667%}
#mar-af .col-md-offset-4{margin-left:33.33333333%}
#mar-af .col-md-offset-3{margin-left:25%}
#mar-af .col-md-offset-2{margin-left:16.66666667%}
#mar-af .col-md-offset-1{margin-left:8.33333333%}
#mar-af .col-md-offset-0{margin-left:0}
}
@media(min-width:1200px){#mar-af .col-lg-1,#mar-af .col-lg-2,#mar-af .col-lg-3,#mar-af .col-lg-4,#mar-af .col-lg-5,#mar-af .col-lg-6,#mar-af .col-lg-7,#mar-af .col-lg-8,#mar-af .col-lg-9,#mar-af .col-lg-10,#mar-af .col-lg-11,#mar-af .col-lg-12{float:left}
#mar-af .col-lg-12{width:100%}
#mar-af .col-lg-11{width:91.66666667%}
#mar-af .col-lg-10{width:83.33333333%}
#mar-af .col-lg-9{width:75%}
#mar-af .col-lg-8{width:66.66666667%}
#mar-af .col-lg-7{width:58.33333333%}
#mar-af .col-lg-6{width:50%}
#mar-af .col-lg-5{width:41.66666667%}
#mar-af .col-lg-4{width:33.33333333%}
#mar-af .col-lg-3{width:25%}
#mar-af .col-lg-2{width:16.66666667%}
#mar-af .col-lg-1{width:8.33333333%}
#mar-af .col-lg-pull-12{right:100%}
#mar-af .col-lg-pull-11{right:91.66666667%}
#mar-af .col-lg-pull-10{right:83.33333333%}
#mar-af .col-lg-pull-9{right:75%}
#mar-af .col-lg-pull-8{right:66.66666667%}
#mar-af .col-lg-pull-7{right:58.33333333%}
#mar-af .col-lg-pull-6{right:50%}
#mar-af .col-lg-pull-5{right:41.66666667%}
#mar-af .col-lg-pull-4{right:33.33333333%}
#mar-af .col-lg-pull-3{right:25%}
#mar-af .col-lg-pull-2{right:16.66666667%}
#mar-af .col-lg-pull-1{right:8.33333333%}
#mar-af .col-lg-pull-0{right:0}
#mar-af .col-lg-push-12{left:100%}
#mar-af .col-lg-push-11{left:91.66666667%}
#mar-af .col-lg-push-10{left:83.33333333%}
#mar-af .col-lg-push-9{left:75%}
#mar-af .col-lg-push-8{left:66.66666667%}
#mar-af .col-lg-push-7{left:58.33333333%}
#mar-af .col-lg-push-6{left:50%}
#mar-af .col-lg-push-5{left:41.66666667%}
#mar-af .col-lg-push-4{left:33.33333333%}
#mar-af .col-lg-push-3{left:25%}
#mar-af .col-lg-push-2{left:16.66666667%}
#mar-af .col-lg-push-1{left:8.33333333%}
#mar-af .col-lg-push-0{left:0}
#mar-af .col-lg-offset-12{margin-left:100%}
#mar-af .col-lg-offset-11{margin-left:91.66666667%}
#mar-af .col-lg-offset-10{margin-left:83.33333333%}
#mar-af .col-lg-offset-9{margin-left:75%}
#mar-af .col-lg-offset-8{margin-left:66.66666667%}
#mar-af .col-lg-offset-7{margin-left:58.33333333%}
#mar-af .col-lg-offset-6{margin-left:50%}
#mar-af .col-lg-offset-5{margin-left:41.66666667%}
#mar-af .col-lg-offset-4{margin-left:33.33333333%}
#mar-af .col-lg-offset-3{margin-left:25%}
#mar-af .col-lg-offset-2{margin-left:16.66666667%}
#mar-af .col-lg-offset-1{margin-left:8.33333333%}
#mar-af .col-lg-offset-0{margin-left:0}
}

/* Question Mark */
#mar-af .guideFieldNode .guideHelpQuestionMark{position:absolute;top:6px;right:8px;cursor:pointer;}
#mar-af .guideFieldNode .guideHelpQuestionMark:hover{color:#016e8f;background-color:inherit}
#mar-af .glyphicon-question-sign:before {
    /*content: "\e085";*/
    content: "?";
    color: #6c6c6c;
    font-size: 0.875rem;
    font-family: -webkit-body;
    font-style: italic;
    font-weight: bold;
    text-transform: none;
    width: 16px;
    height: 16px;
    border: 1px solid #acacac;
    text-align: center;
    border-radius: 8px;
    background-color: #ECECEC;
    padding-top:1px;
    display: block;
}

/* Tooltip */
#mar-af .tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:12px;line-height:1.4;opacity:0;filter:alpha(opacity=0)}
#mar-af .tooltip.in{opacity:.9;filter:alpha(opacity=90)}
#mar-af .tooltip.top{margin-top:-3px;padding:5px 0}
#mar-af .tooltip.right{margin-left:3px;padding:0 5px}
#mar-af .tooltip.bottom{margin-top:3px;padding:5px 0}
#mar-af .tooltip.left{margin-left:-3px;padding:0 5px}
#mar-af .tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center; font-weight:bold; font-size:.85rem;text-decoration:none;background-color:#00b0d2;border-radius:4px}
#mar-af .tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
#mar-af .tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#00b0d3}
#mar-af .tooltip.top-left .tooltip-arrow{bottom:0;left:5px;border-width:5px 5px 0;border-top-color:#00b0d3}
#mar-af .tooltip.top-right .tooltip-arrow{bottom:0;right:5px;border-width:5px 5px 0;border-top-color:#00b0d3}
#mar-af .tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#00b0d3}
#mar-af .tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#00b0d3}
#mar-af .tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#00b0d3}
#mar-af .tooltip.bottom-left .tooltip-arrow{top:0;left:5px;border-width:0 5px 5px;border-bottom-color:#00b0d3}
#mar-af .tooltip.bottom-right .tooltip-arrow{top:0;right:5px;border-width:0 5px 5px;border-bottom-color:#00b0d3}
#mar-af .guideFieldNode{width:auto;padding:5px;position:relative}

.mrsh-af .row {
  margin-bottom:0;  
}

.mrsh-af .panel, .mrsh-af .panel .guidePanelNode {
  margin-bottom:0;
  background-color:transparent;
  padding:0 0;
}


.guideContainerNode {
  background-color:#f4f5f5 !important;
  padding:10px 2%;
}

aside .guideContainerNode {    
    padding:10px 4%;
  } 
 
.mrsh-af .guideFieldVerticalAlignment .guideFieldWidget {
  margin-bottom: 0;
} 

.mrsh-af .guideFieldVerticalAlignment:last-of-type .guideFieldWidget {
  margin-bottom: 10px;
}

.mrsh-af .guideFieldWidget {
  clear: both;
  width: 100%;
  height: 26px;
  /*margin-bottom: 10px;*/
}


/* Radio */
.mrsh-af .guideRadioButtonGroupItems .guideFieldWidget,
.mrsh-af .guideCheckBoxGroupItems .guideFieldWidget {
  width: auto;
}

.mrsh-af .guideRadioButtonGroupItems .guideWidgetLabel.right,
.mrsh-af .guideRadioButtonGroupItems .guideWidgetLabel.left,
.mrsh-af .guideCheckBoxGroupItems .guideWidgetLabel.right,
.mrsh-af .guideCheckBoxGroupItems .guideWidgetLabel.left {
  /*margin-top:-3px;*/
  float: left !important;
}

.mrsh-af .guideCheckBoxItem,
.mrsh-af .guideRadioButtonItem {
  margin-right: 18px;
  /*display: inline-block;*/
}

.mrsh-af .guideFieldVerticalAlignment {
  display:block;
}
.mrsh-af .guideFieldHorizontalAlignment {
  display: inline-block;
}

.mrsh-af .guideFieldWidget input[type="date"],
.mrsh-af .guideFieldWidget input[type="text"],
.mrsh-af .guideFieldWidget input[type="password"],
.mrsh-af .guideFieldWidget select,
.mrsh-af .guideFieldWidget textarea {
    border: 1px solid #45555f;
    height: 1.5rem !important;
    line-height: 0.75rem;
    width: 100%;
    color: #45555f;
    font-weight: normal;
    font-size: 12px;
    font-family: "Slate W01 Bk", Arial, sans-serif;
    padding-left: 4px;
    border-radius: 0 !important;
}
/*.mrsh-af .guideFieldWidget input[type="checkbox"],
.mrsh-af .guideFieldWidget input[type="radio"] {
    border: 1px solid #45555f;
    margin-right: 6px;
}*/

.mrsh-af .guideFieldWidget textarea,
.mrsh-af .guideFieldWidget.multiline {
  height: 60px;
  min-height: 60px;
  margin-bottom: 10px;
}

.mrsh-af .guideTextBox {
  /*margin-bottom: 10px;*/
}

/* Alert Messages */
/* Info Alert */
.mrsh-af .guideFieldNode .guideFieldDescription.long {
    /*display: none;
    padding: 5px 10px;
    border: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    background-color: #eeeeee;
    width: 40%;
    position:absolute;
    bottom:-15px;
    left:4%;
    margin-left: 0;
    margin: 0 0 0 0;
    clear: both;
    border-radius: 0 0 0 0;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    z-index: 202;*/
    display:none;
    position: absolute;
    top: 16px;
    right: 22px;
    color: #595959;    
    padding: 5px;
    border: 1px solid #acacac;
    width: 55%;    
    font-size: 0.8125rem;
    font-family: "Slate W01 Bk", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: white;
    z-index: 202;
    text-align: left; 
    bottom: auto;
    left: auto;   
}

.mrsh-af .guideFieldNode .guideFieldDescription.long p {
  font-size: 0.8125rem;
  font-family: "Slate W01 Bk", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color:#595959;
}

.mrsh-af .guideFieldNode .guideFieldDescription.short,
.mrsh-af .guideFieldNode .guideFieldDescription {
    color: #8c8c8c;
    padding: 0; 
    background-color: transparent; 
    width: 40%;
    position:absolute;
    bottom:-12px;
    left:2%;
    margin-left: 0;
    margin: 0 0 0 0;
    font-size: .75rem;    
}
/* right rail */
aside .mrsh-af .guideFieldNode .guideFieldDescription.short,
aside .mrsh-af .guideFieldNode .guideFieldDescription {
    color: #8c8c8c;
    padding: 0; 
    background-color: transparent; 
    width: 90%;
    position:absolute;
    bottom:-27px;
    left:4%;
    margin-left: 0;
    margin: 0 0 0 0;
    font-size: .75rem;    
}
/* radio */

.mrsh-af .guideCheckBoxGroupItems,
.mrsh-af .guideRadioButtonGroupItems {
  width:auto;
  float: left;;
  /*margin-bottom:10px;*/
}

/* Select Drop Down */
.mrsh-af .dropDownList, .mrsh-af .guideFieldWidget select {
  /*margin-bottom:10px;*/
}

/* Google Re Captcha */
.mrsh-af .g-recaptcha-response-af {
  margin-top:20px;
}

/* Button | Submit, Attach */
.mrsh-af .guideFieldWidget input[type="button"],
.mrsh-af .guideFieldWidget button,
.mrsh-af .guideFieldWidget .button {
    background-color: #00b0d3;
    padding: 0.75rem 1rem 0.75rem 1rem;
    color: white;
    display: inline-block;
    width: auto;
    font-weight: normal;
    font-size: 0.8125rem;
    font-family: "Slate W01 Bold", Arial, sans-serif;
    height: auto;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;    
    float: none;
    text-transform: uppercase;
}

/* Attach Input */
.mrsh-af .guideFieldWidget button.guide-fu-attach-button {
    /*margin-top: 35px;*/
    padding: .35rem 1rem;
    background-color: #AAAAAA;
    border-radius: 5px;
}    

/* layout rows */
.mrsh-af .row .row {
  margin-left: 0;
  margin-right: 0;
}
/* Checkbox */
.mrsh-af .guideRadioButtonGroup,
.mrsh-af .guideCheckBoxGroup {
  margin-top:10px;
}

.mrsh-af .guideFieldWidget input[type="radio"] {
    display: block;
    float: left;
    width: 20px;
    height:20px;
    /*border: 0;*/
    -webkit-appearance: radio;
    -moz-appearance: radio;
    border-radius: 1em;
    position: relative!important;
    border: 1px solid #45555f;
    margin-right: 6px;
}

.mrsh-af .guideFieldWidget input[type="checkbox"] {
  display: block;
    float: left;
    width: 20px;
    height:20px;
    /*border: 0;*/
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    position: relative!important;
    border: 1px solid #45555f;
    margin-right: 6px;
}

.mrsh-af .guideFieldLabel {
  text-align: left;
  width: 100%;
  margin-bottom:5px;
}

.mrsh-af .guideFieldNode .guideFieldError {
    color: #cccccc;
    font-size: 14px;
    padding-top: 0px;
    margin-left: 0;
    color: #ed2c67;
    line-height: 15px;
    font-weight: normal;
    font-size: .8125rem;
    font-family: "Slate W01 Bk",Arial,sans-serif;
    text-transform: none;    
    text-align: left;
}

.mrsh-af .guideFieldLabel label,
.mrsh-af .guideWidgetLabel label,
.mrsh-af .guideWidgetLabel.right label  {
    line-height: 15px;    
    color: #232425;
    font-weight: normal;
    font-size: 13px;
    font-family: "Slate W01 Bk", Arial, sans-serif;
    text-transform: none;
}

.mrsh-af .guideFieldNode[data-mandatory="true"] input[type="date"],
.mrsh-af .guideFieldNode[data-mandatory="true"] input[type="text"],
.mrsh-af .guideFieldNode[data-mandatory="true"] input[type="password"],
.mrsh-af .guideFieldNode[data-mandatory="true"] select,
.mrsh-af .guideFieldNode[data-mandatory="true"] input[type="checkbox"],
.mrsh-af .guideFieldNode[data-mandatory="true"] input[type="radio"],
.mrsh-af .guideFieldNode[data-mandatory="true"] textarea {
  border: 1px solid #45555f;
}

/* Input by BAU team | Monali */
.mrsh-af .datepicker-calendar-icon {
  height: 22px;
  width: 22px;
}

/* attached files */
.mrsh-af .guideFieldWidget.fileUpload > input {
  display:none;
}
.mrsh-af ul.guide-fu-fileItemList {
  padding: 0;
  list-style: none;
  margin: 4px 0 0 0;
}
.mrsh-af ul.guide-fu-fileItemList li {
  margin: 2px 0;
  display: block;
  float: left;
  clear: both;
}
.mrsh-af ul.guide-fu-fileItemList li span.guide-fu-fileName {
  font-size: 13px;
  display: block;
  background-color: #a3e5f2;
  float: left;
  padding: 4px 6px;
  clear: both;
}

.mrsh-af ul.guide-fu-fileItemList li span.guide-fu-fileClose.close {
  display: block;
  float: left;
  padding: 4px 7px;
  background-color: #79d2e3;
  line-height: 13px;
  cursor: pointer;
  color:#ffffff;
  font-weight: bold;
}

/* Overwrites outside of custom class */
.guidetoolbar {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.guidetoolbar input[type="button"],
.guidetoolbar button,
.guidetoolbar .button {
  -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px;
    box-sizing: border-box;
    cursor: pointer;
    border-style: outset;
    border-width: 0px;
    border-color: transparent !important;
    border-radius: 0;
    width: auto;
    background-color: #00b0d3 !important;
    padding: .5rem .725rem .5rem .725rem !important;
    color: #ffffff;
    display: inline-block !important;    
    -webkit-appearance: none !important;    
}

.guidetoolbar input[type="button"] span,
.guidetoolbar button span,
.guidetoolbar .button span {
  font-weight: normal !important;
    font-size: .8125rem !important;
    font-family: "Slate W01 Bold",Arial,sans-serif !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Marsh.com Alert Boxes | Modeled after the 'info' treatment */
.responseContainer {
  padding: 1rem 1rem .5rem 1rem;
  display: block;
  margin: 0 0 2rem 0;
  clear: both;
  position: relative;
  border-radius: 1px;
  background-color: #00A8C8;
  border: 1px solid #0C7FB2;
  color: #ffffff;
}
.responseContainer h1 {
  display: block;
  clear: both;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 1.3125rem;
  font-family: "Slate W01 Bk", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.responseContainer p, .responseContainer a {
  color:#ffffff;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 1rem;
  display: inline;
  clear: both;
}

/* Media Queries */
@media screen and (max-width: 1025px) {
  aside .guideContainerNode {    
    padding:10px 4%;
  } 
}
@media(min-width:992px) {  
  .guideFieldNode .guideHelpQuestionMark {
    font-size:.75em;padding-left:0px;position:relative;width:auto; padding-top:1px; font-weight: bold;
  }
}
.loadingForm {
	background: url("../images/busy-state.gif") no-repeat center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	z-index: 100000;
	opacity: 0.5;
}
.guideLoading {
	background: url("../images/busy-state.gif") no-repeat fixed center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 100000;
}
#loadingPage.guideMessage {
	background-image: none;
	background-color: rgba(0,0,0,0.1);
	justify-content: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#loadingPage.guideMessage h1 {
	background: rgba(0,0,0,0.6);
	border-radius: 4px;
	padding:1.875rem;
	color:#f9f9f9;
	font-size:1.25rem;
}
#mar-af .guideHelpQuestionMark::before {
    background-color: #ececec;
    border: 1px solid #acacac;
    border-radius: 8px;
    color: #6c6c6c;
    content: "?";
    display: block;
    font-family: -webkit-body;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: bold;
    height: 16px;
    padding-top: 1px;
    text-align: center;
    text-transform: none;
    width: 16px;
}