
@media only screen and (min-width: 1025px) {
  /* line 14, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
  .pcsuk-theme-body.theme-dark .slick-prev:before, .pcsuk-theme-body.theme-dark .slick-next:before {
    background: transparent url("circle-arrow-white.svg") no-repeat;
  }
}
/* line 20, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body.theme-dark main {
  background-color: #000000;
}
/* line 24, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body.theme-dark .panel-3 {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
/* line 31, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body.theme-dark .panel-3 .panel h2 a {
  color: #fff;
}
/* line 36, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body.theme-dark .panel-3 .panel .text-wrap p {
  color: #fff;
}
/* line 39, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body.theme-dark .panel-3 .panel .text-wrap .cta {
  color: #fff;
}
/* line 47, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .social-module-container {
  display: none;
}
/* line 51, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .optco-container {
  background-color: #000000;
}
/* line 54, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .panel-3 .panel img {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 58, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .panel-3 .panel h2 {
  text-align: left;
  line-height: 1rem;
  padding-bottom: .125rem;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: normal;
  font-size: 2.625rem;
  font-family: "Slate W01 Light",Arial,sans-serif;
}
/* line 68, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .panel-3 .panel h2 a {
  font-size: 1.3125rem;
  margin-bottom: .375rem;
  color: #084d8b;
  position: relative;
  width: 100%;
  margin-top: 0;
  text-decoration: none;
}
/* line 77, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .panel-3 .panel .text-wrap {
  text-align: left;
  clear: both;
}
/* line 81, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .panel-3 .panel .text-wrap p {
  font-weight: normal;
  font-size: .8125rem;
  font-family: "Slate W01 Light",Arial,sans-serif;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
/* line 89, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-body.scss */
.pcsuk-theme-body .panel-3 .panel .text-wrap a.cta {
  font-weight: normal;
  font-size: .8125rem;
  font-family: "Slate W01 Light",Arial,sans-serif;
  line-height: 16px;
  color: #0080b4;
  text-decoration: underline;
  margin-top: 4px;
  float: left;
}

/* line 4, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-blue-button.scss */
body.pcsuk-theme-body .blue-back-link a {
  background-color: #000000;
  color: #fff;
}
/* line 9, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-blue-button.scss */
body.pcsuk-theme-body .blue-back-link a:hover {
  background-color: #404040;
}

/* line 2, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav {
  background-color: #000000;
}
/* line 5, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .logo-container img {
  max-width: 175px !important;
}
@media only screen and (max-width: 40em) {
  /* line 12, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li > a {
    color: #404040;
    border: none;
    padding-left: 3px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 19, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li > a {
    color: #404040;
    border: none;
    padding-left: 3px;
  }
}
@media only screen and (max-width: 40em) {
  /* line 25, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li:first-child {
    border: none;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 25, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li:first-child {
    border: none;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 34, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li:hover {
    background-color: #404040;
  }
  /* line 36, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li:hover > a {
    background-color: #404040;
  }
  /* line 38, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li:hover > a.has-sub {
    color: #fff;
  }
  /* line 40, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li:hover > a.has-sub:after {
    border-bottom-color: #404040;
  }
}
@media only screen and (max-width: 40em) {
  /* line 49, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li > a.open {
    background-color: transparent;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 55, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li > a {
    color: #404040;
  }
  /* line 57, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li > a.open {
    background-color: transparent;
  }
}
/* line 62, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .list-nav > li > a {
  color: #404040;
}
@media only screen and (min-width: 1025px) {
  /* line 62, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .list-nav > li > a {
    color: #fff;
  }
}
/* line 71, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .sub-menu span {
  background-color: #404040;
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  /* line 79, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .nav-icon-link:hover .nav-icon,
  body.pcsuk-theme-body .main-nav .nav-icon-link:hover .nav-icon:before,
  body.pcsuk-theme-body .main-nav .nav-icon-link:hover .nav-icon:after {
    background-color: #808080;
  }
}
/* line 88, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .nav-icon-link.active:after {
  border-bottom-color: #808080;
}
@media only screen and (max-width: 40em) {
  /* line 88, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .nav-icon-link.active:after {
    border-bottom-color: #fff;
    top: 43px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 88, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .main-nav .nav-icon-link.active:after {
    border-bottom-color: #fff;
    top: 43px;
  }
}
/* line 99, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .nav-icon-link.active .nav-icon, body.pcsuk-theme-body .main-nav .nav-icon-link.active .nav-icon:before, body.pcsuk-theme-body .main-nav .nav-icon-link.active .nav-icon:after {
  background-color: #808080;
}
/* line 103, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .nav-icon-link span {
  color: #fff;
}
/* line 107, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .nav-icon {
  background-color: #fff;
}
/* line 109, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .main-nav .nav-icon:before, body.pcsuk-theme-body .main-nav .nav-icon:after {
  background-color: #fff;
}
@media only screen and (min-width: 1025px) {
  /* line 115, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .slide-down-panel {
    background-color: #808080;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 119, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
  body.pcsuk-theme-body .slide-down-panel:after, body.pcsuk-theme-body .slide-down-panel:before {
    background-color: #808080;
  }
}
/* line 125, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-main-nav-invert.scss */
body.pcsuk-theme-body .slide-down-panel .slide-list a {
  background-color: #808080;
}

/* line 1, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body {
  /* Text Styles */
  /* Tables */
}
/* line 3, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body h1, .pcsuk-theme-body h2, .pcsuk-theme-body h3, .pcsuk-theme-body h4, .pcsuk-theme-body h5, .pcsuk-theme-body h6,
.pcsuk-theme-body ul,
.pcsuk-theme-body ol,
.pcsuk-theme-body ul li,
.pcsuk-theme-body ol li,
.pcsuk-theme-body ul ul,
.pcsuk-theme-body ul ol,
.pcsuk-theme-body ol ol,
.pcsuk-theme-body ol ul,
.pcsuk-theme-body ol ol li,
.pcsuk-theme-body ol ul li,
.pcsuk-theme-body ul ul li,
.pcsuk-theme-body ul ol li,
.pcsuk-theme-body ul li,
.pcsuk-theme-body ol li,
.pcsuk-theme-body dt,
.pcsuk-theme-body dd,
.pcsuk-theme-body dl,
.pcsuk-theme-body p,
.pcsuk-theme-body a,
.pcsuk-theme-body p,
.pcsuk-theme-body ul,
.pcsuk-theme-body ol,
.pcsuk-theme-body ul ul,
.pcsuk-theme-body ol ul,
.pcsuk-theme-body ul ol,
.pcsuk-theme-body ol ol {
  color: #000000;
}
/* line 32, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body a {
  color: #000000;
}
/* line 35, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body blockquote {
  color: #000000;
}
/* line 45, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .title h1, .pcsuk-theme-body .title h2, .pcsuk-theme-body .article h1, .pcsuk-theme-body .article h1 {
  color: #000000;
}
/* line 50, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .article-wrap .common-content a {
  color: #000000;
}
/* line 56, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .t-body-text {
  /* Tables */
}
/* line 58, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .t-body-text h1, .pcsuk-theme-body .t-body-text h2, .pcsuk-theme-body .t-body-text h3, .pcsuk-theme-body .t-body-text h4, .pcsuk-theme-body .t-body-text h5, .pcsuk-theme-body .t-body-text h6 {
  color: #000000;
}
/* line 81, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .t-body-text p {
  color: #000000;
}
/* line 84, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .t-body-text ul,
.pcsuk-theme-body .t-body-text ol,
.pcsuk-theme-body .t-body-text ul ul,
.pcsuk-theme-body .t-body-text ol ul,
.pcsuk-theme-body .t-body-text ul ol,
.pcsuk-theme-body .t-body-text ol ol {
  color: #000000;
}
/* line 92, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-typography.scss */
.pcsuk-theme-body .t-body-text blockquote {
  color: #000000;
}

/* line 141, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .content-block {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  min-height: auto;
}
/* line 146, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .content-block p {
  color: #000000;
}
/* line 151, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .content-block h1, body.pcsuk-theme-body .feature-area .content-block h2 {
  font-family: "Slate W02 Medium", Arial, sans-serif;
  text-transform: none;
}
/* line 155, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .content-block .quote, body.pcsuk-theme-body .feature-area .content-block .quote p, body.pcsuk-theme-body .feature-area .content-block .quote li {
  color: #404040;
}
/* line 163, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .link {
  background-color: #000000 !important;
}
/* line 167, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .link:hover {
  background-color: #404040 !important;
}
/* line 180, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area .main-content h1 {
  color: #fff;
  text-transform: none;
}
/* line 200, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area.lvl-01 {
  padding: 7rem 0 1.5rem 0;
  min-height: auto;
}
/* line 204, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area.lvl-02, body.pcsuk-theme-body .feature-area.lvl-03, body.pcsuk-theme-body .feature-area.lvl-04 {
  padding: 3rem 0 3rem 0;
  min-height: auto;
}
/* line 215, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area.lvl-01 h1, body.pcsuk-theme-body .feature-area.lvl-01 h2, body.pcsuk-theme-body .feature-area.lvl-02 h1, body.pcsuk-theme-body .feature-area.lvl-02 h2, body.pcsuk-theme-body .feature-area.lvl-03 h1, body.pcsuk-theme-body .feature-area.lvl-03 h2, body.pcsuk-theme-body .feature-area.lvl-04 h1, body.pcsuk-theme-body .feature-area.lvl-04 h2 {
  color: #fff;
}
/* line 218, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area.lvl-01 p, body.pcsuk-theme-body .feature-area.lvl-02 p, body.pcsuk-theme-body .feature-area.lvl-03 p, body.pcsuk-theme-body .feature-area.lvl-04 p {
  color: #fff;
}
/* line 221, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area.lvl-01 blockquote.quote, body.pcsuk-theme-body .feature-area.lvl-02 blockquote.quote, body.pcsuk-theme-body .feature-area.lvl-03 blockquote.quote, body.pcsuk-theme-body .feature-area.lvl-04 blockquote.quote {
  color: #fff;
}
/* line 289, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-feature-area.scss */
body.pcsuk-theme-body .feature-area.lvl-01.lvl-03, body.pcsuk-theme-body .feature-area.lvl-01.lvl-04, body.pcsuk-theme-body .feature-area.lvl-02.lvl-03, body.pcsuk-theme-body .feature-area.lvl-02.lvl-04, body.pcsuk-theme-body .feature-area.lvl-03.lvl-03, body.pcsuk-theme-body .feature-area.lvl-03.lvl-04, body.pcsuk-theme-body .feature-area.lvl-04.lvl-03, body.pcsuk-theme-body .feature-area.lvl-04.lvl-04 {
  background-color: #808080;
}

@media only screen and (max-width: 40em) {
  /* line 2, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
  body.pcsuk-theme-body .box {
    max-width: 360px;
  }
}
/* line 7, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .box .text-area p {
  color: #37424a;
}
/* line 9, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .box .text-area p a {
  color: #404040;
}
/* line 13, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .box .text-area a {
  color: #404040;
}
/* line 16, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .box .text-area li {
  color: #37424a;
}
/* line 25, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .rt-rail-icon .cnt-area p {
  color: #37424a;
}
/* line 27, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .rt-rail-icon .cnt-area p a {
  color: #404040;
  font-family: "Slate W02 Light", Arial, sans-serif;
}
/* line 32, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .rt-rail-icon .cnt-area a {
  color: #404040;
}
/* line 35, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .rt-rail-icon .cnt-area li {
  color: #37424a;
}
/* line 75, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .resource-filter .filter-container {
  border-color: #000000;
  background-color: #fff;
}
/* line 78, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .resource-filter .filter-container a {
  color: #000000;
}
/* line 83, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .resource-filter .current-filter:after {
  color: #000000;
  background-color: #000000;
}
/* line 99, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .resource-filter .sub-menu {
  background-color: #fff;
}
/* line 133, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .download .orange-btn {
  background-color: #000000;
}
/* line 135, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .download .orange-btn:hover {
  background-color: #404040;
}
/* line 143, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .login-box #rightRailLogin, body.pcsuk-theme-body .login-box #registerButton {
  background-color: #000000;
}
/* line 145, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-rt-rail.scss */
body.pcsuk-theme-body .login-box #rightRailLogin:hover, body.pcsuk-theme-body .login-box #registerButton:hover {
  background-color: #404040;
}

/* line 2, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-breadcrumb.scss */
body.pcsuk-theme-body .breadcrumb {
  background-color: #bfbfbf;
}
/* line 4, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-breadcrumb.scss */
body.pcsuk-theme-body .breadcrumb ul {
  padding: 0;
}
/* line 7, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-breadcrumb.scss */
body.pcsuk-theme-body .breadcrumb ul li::after {
  color: #000000;
}
/* line 13, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-breadcrumb.scss */
body.pcsuk-theme-body .breadcrumb ul li a {
  color: #000000;
}

/* line 6, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
body.pcsuk-theme-body .text-slider-wrap p.sub-hdr {
  color: #808080;
}
/* line 12, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
body.pcsuk-theme-body .text-slider-wrap h3 {
  color: #000000;
}
/* line 18, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
body.pcsuk-theme-body .text-slider-wrap .slick-prev,
body.pcsuk-theme-body .text-slider-wrap .slick-next {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 20px;
  top: 2%;
  opacity: .5;
  -webkit-transition: box-shadow 350ms, opacity 350ms;
  -moz-transition: box-shadow 350ms, opacity 350ms;
  -o-transition: box-shadow 350ms, opacity 350ms;
  -ms-transition: box-shadow 350ms, opacity 350ms;
  transition: box-shadow 350ms, opacity 350ms;
}
@media only screen and (min-width: 1025px) {
  /* line 29, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
  body.pcsuk-theme-body .text-slider-wrap .slick-prev:before,
  body.pcsuk-theme-body .text-slider-wrap .slick-next:before {
    width: 30px;
    height: 30px;
    display: block;
    background: transparent url("circle-arrow-black.svg") no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
  /* line 37, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
  body.pcsuk-theme-body .text-slider-wrap .slick-prev:after,
  body.pcsuk-theme-body .text-slider-wrap .slick-next:after {
    display: none;
  }
  /* line 40, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
  body.pcsuk-theme-body .text-slider-wrap .slick-prev:hover,
  body.pcsuk-theme-body .text-slider-wrap .slick-next:hover {
    opacity: 1;
    box-shadow: 0 2px 10px -4px #000000;
  }
}
/* line 46, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
body.pcsuk-theme-body .text-slider-wrap .slick-prev {
  left: -40px;
}
/* line 52, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
body.pcsuk-theme-body .text-slider-wrap .slick-next {
  right: -40px;
}
@media only screen and (min-width: 1025px) {
  /* line 55, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-text-slider.scss */
  body.pcsuk-theme-body .text-slider-wrap .slick-next:before {
    transform: rotate(180deg);
  }
}

/* line 5, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
body.pcsuk-theme-body .feature-carousel .carousel-panel .item {
  border-color: #fff;
}
/* line 16, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
body.pcsuk-theme-body .feature-carousel .carousel-panel .text-wrap h2 a {
  color: #000000;
}
/* line 21, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
body.pcsuk-theme-body .feature-carousel .carousel-panel .text-wrap a.more {
  color: #404040;
}
/* line 26, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-prev, body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-next {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 20px;
  top: 42.5%;
  opacity: .5;
  -webkit-transition: box-shadow 350ms, opacity 350ms;
  -moz-transition: box-shadow 350ms, opacity 350ms;
  -o-transition: box-shadow 350ms, opacity 350ms;
  -ms-transition: box-shadow 350ms, opacity 350ms;
  transition: box-shadow 350ms, opacity 350ms;
}
@media only screen and (min-width: 1025px) {
  /* line 36, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
  body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-prev:before, body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-next:before {
    width: 30px;
    height: 30px;
    display: block;
    background: transparent url("circle-arrow-black.svg") no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
  /* line 44, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
  body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-prev:after, body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-next:after {
    display: none;
  }
  /* line 47, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
  body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-prev:hover, body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-next:hover {
    opacity: 1;
    box-shadow: 0 2px 10px -4px #000000;
  }
}
/* line 57, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-prev {
  left: -20px;
}
/* line 63, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-next {
  right: -20px;
}
@media only screen and (min-width: 1025px) {
  /* line 66, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-two-content-carousel.scss */
  body.pcsuk-theme-body .feature-carousel .carousel-panel .slick-next:before {
    transform: rotate(180deg);
  }
}

/* line 5, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-utility-nav.scss */
.pcsuk-theme-body .utility-nav, .pcsuk-theme-body .l-top-bar {
  display: none;
}

/* line 17, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion .active h5 span {
  -webkit-transition: margin 150ms;
  -moz-transition: margin 150ms;
  -o-transition: margin 150ms;
  -ms-transition: margin 150ms;
  transition: margin 150ms;
  margin-top: 1px;
}
/* line 20, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion .active h5 span:before {
  transform: rotate(270deg);
}
/* line 29, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion .acc-inner-content li a, body.pcsuk-theme-body .info-accordion .acc-inner-content a, body.pcsuk-theme-body .info-accordion .acc-inner-content p a, body.pcsuk-theme-body .info-accordion .acc-inner-content h1 a, body.pcsuk-theme-body .info-accordion .acc-inner-content h2 a, body.pcsuk-theme-body .info-accordion .acc-inner-content h3 a, body.pcsuk-theme-body .info-accordion .acc-inner-content h4 a, body.pcsuk-theme-body .info-accordion .acc-inner-content h5 a, body.pcsuk-theme-body .info-accordion .acc-inner-content h6 a {
  color: #404040;
}
/* line 46, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion h5 {
  color: #fff;
  background-color: #000000;
  height: auto;
  padding: 1rem;
}
/* line 51, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion h5 span {
  background-color: transparent;
  float: left;
  display: block;
  width: 20px;
  height: 15px;
  padding: 0;
  margin-top: 3px;
  -webkit-transition: margin 150ms;
  -moz-transition: margin 150ms;
  -o-transition: margin 150ms;
  -ms-transition: margin 150ms;
  transition: margin 150ms;
}
/* line 60, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion h5 span:before {
  transform: rotate(180deg);
  content: '';
  background-color: transparent;
  color: #fff;
  width: 15px;
  height: 15px;
  display: block;
  background: transparent url("arrow-white.svg") no-repeat;
  background-position: 0 0;
  opacity: 1;
  position: absolute;
  -webkit-transition: transform 150ms;
  -moz-transition: transform 150ms;
  -o-transition: transform 150ms;
  -ms-transition: transform 150ms;
  transition: transform 150ms;
}
/* line 75, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion h5:hover {
  background-color: #404040;
}
/* line 77, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion h5:hover span {
  margin-top: 1px;
}
/* line 79, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-info-accordion.scss */
body.pcsuk-theme-body .info-accordion h5:hover span:before {
  transform: rotate(270deg);
}

/* line 9, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-search-results.scss */
body.pcsuk-theme-body .search-results h2, body.pcsuk-theme-body .search-results h2 a, body.pcsuk-theme-body .search-results h3, body.pcsuk-theme-body .search-results h3 a {
  color: #000000;
}

/* line 2, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero-search-results.scss */
body.pcsuk-theme-body .hero {
  background-color: #808080;
}
/* line 6, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero-search-results.scss */
body.pcsuk-theme-body .hero.large-header-solid-search h1, body.pcsuk-theme-body .hero.large-header-solid-search h2, body.pcsuk-theme-body .hero.large-header-solid-search h3, body.pcsuk-theme-body .hero.large-header-solid-search h4, body.pcsuk-theme-body .hero.large-header-solid-search h5, body.pcsuk-theme-body .hero.large-header-solid-search h6 {
  color: #fff;
}
/* line 17, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero-search-results.scss */
body.pcsuk-theme-body .hero .search-filter .label {
  color: #fff;
}
/* line 52, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero-search-results.scss */
body.pcsuk-theme-body .hero .search-filter input[type="submit"] {
  -webkit-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -moz-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -o-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -ms-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  background-color: #000000;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 1px;
}
/* line 57, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero-search-results.scss */
body.pcsuk-theme-body .hero .search-filter input[type="submit"]:hover {
  background-color: #404040;
}

/* Hero SCSS */
/* line 4, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero .content-block {
  background-color: transparent;
  padding: 0;
}
/* line 7, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero .content-block p {
  color: #fff;
}
/* line 9, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero .content-block p .highlight {
  color: #fff;
}
/* line 14, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero .content-block h1 {
  color: #fff;
}
/* line 18, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero .content-block h2 {
  color: #fff;
}
/* line 67, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.large-header-white .content-block h1, body.pcsuk-theme-body .hero.large-header-white .content-block h2 {
  color: #fff;
}
/* line 76, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.small-header-white .content-block h1, body.pcsuk-theme-body .hero.small-header-white .content-block h2 {
  color: #fff;
}
/* line 86, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.event-detail .content-block h1, body.pcsuk-theme-body .hero.event-detail .content-block h2 {
  color: #fff;
}
/* line 97, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.generic-header h1, body.pcsuk-theme-body .hero.generic-header h2, body.pcsuk-theme-body .hero.events h1, body.pcsuk-theme-body .hero.events h2, body.pcsuk-theme-body .hero.media-center h1, body.pcsuk-theme-body .hero.media-center h2 {
  color: #fff;
}
/* line 101, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.generic-header h3, body.pcsuk-theme-body .hero.events h3, body.pcsuk-theme-body .hero.media-center h3 {
  color: #fff;
}
/* line 121, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.page-header h1, body.pcsuk-theme-body .hero.page-header h2 {
  color: #fff;
}
/* line 125, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-hero.scss */
body.pcsuk-theme-body .hero.page-header h3 {
  color: #fff;
}

/* line 3, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .slider {
  height: 550px;
}
/* line 6, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .slide {
  height: 550px;
}
/* line 12, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .text-box {
  padding-top: 17rem;
  width: 75%;
}
/* line 17, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .text-box h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Slate W02 Medium", Arial, sans-serif;
  text-transform: none;
  color: #fff;
}
/* line 26, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .text-box p {
  display: none;
}
/* line 29, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .text-box .learn-more {
  color: #fff;
}
/* line 31, ../../scss/components/themes/body/pcsuk/_theme-pcsuk-homepage-feature-area.scss */
body.pcsuk-theme-body .homepage-feature-area .text-box .learn-more:after {
  border-left-color: #fff;
}
