
.captives-campaign-theme .row.campaign-wrap {
  max-width: 76.125rem; }

.captives-campaign-theme .main-content > .row > .large-8.columns {
  width: 68%; }

.captives-campaign-theme .feature-area .main-content {
  margin-bottom: 3rem;
  min-height: 12.25rem;
  padding-top: 2rem;
  position: relative; }
  .captives-campaign-theme .feature-area .main-content h1 {
    font-family: "Slate W02 Bold", Arial, sans-serif;
    text-shadow: 0 2px 20px #000000;
    margin-bottom: 10px;
    color: #fff;
    text-transform: none;
    font-size:3rem;
  }
  .captives-campaign-theme .feature-area .main-content h2 {
    margin-bottom: 2.5rem;
    font-size: 1.65rem;
    text-shadow: 0 2px 20px #000000;
    color: #ffffff; }

.captives-campaign-theme .mrsh-af .guideFieldLabel label,
.captives-campaign-theme .mrsh-af .guideWidgetLabel label,
.captives-campaign-theme .mrsh-af .guideWidgetLabel.right label {
  text-transform: none;
}
.captives-campaign-theme .guideFieldNode.guideTextDraw {
  font-family: "Slate W02 Regular",Arial,sans-serif;
  font-weight: normal;
  line-height: 1.15;
}
.captives-campaign-theme .common-content h3,
.captives-campaign-theme .common-content h3 a,
.captives-campaign-theme .richtext h3,
.captives-campaign-theme .richtext h3 a {
  font-family: "Slate W02 Light",Arial,sans-serif;
}

.captives-campaign-theme form#mar-af {
  border: 1px solid #dedede;
  border-radius: 2px;
}

.captives-campaign-theme .mx-dashboard-container {
  opacity:0;
}
