
/* line 1, ../../scss/components/themes/..theme-body.scss */
.main-nav .logo-container img {
  width: 100%;
  max-width: 353px !important;
  min-width: 125px !important;
}

@media only screen and (max-width: 1024px) and (min-width: 641px) {
  /* line 7, ../../scss/components/themes/..theme-body.scss */
  .main-nav .logo-container {
    width: auto;
  }
}
@media only screen and (max-width: 640px) {
  /* line 12, ../../scss/components/themes/..theme-body.scss */
  .main-nav .logo-container {
    width: 85%;
  }
}
@media only screen and (max-width: 455px) {
  /* line 17, ../../scss/components/themes/..theme-body.scss */
  .main-nav .logo-container {
    width: 75%;
  }
}

.common-content p, .richtext p {

    font-weight: normal;
    font-size: 1.2rem;
    font-family: "Slate W02 Light",Arial,sans-serif;
    line-height: 1.65rem;
    color: #45555f;
    margin-bottom: 1.5625rem;
    margin-top: 0;

}

.optco-container {
    background-color: #084d8b;
    height: 80px;
    display: none;
}

.policies-container {
    font-size: .625rem;
    padding: 1.25rem 0;
    background-color: #ececec;
}

.info-accordion .acc-inner-content {
    padding: 20px 10% 0;
    padding-bottom: 20px;
}

.info-accordion .acc-inner-content p {
    font-weight: normal;
    font-size: 1.2rem;
    font-family: "Slate W02 Book",Arial,sans-serif;
    line-height: 1.65rem;
    color: #45555f;
    margin-bottom: 1rem;
    margin-top: 0;
}

.info-accordion .acc-inner-content p a {
    text-decoration: underline;
    display: inline;
    color: #00b0d3;
    font-weight: normal;
    font-size: 1.25rem;
    font-family: "Slate W02 Book",Arial,sans-serif;
}

.info-accordion .acc-inner-content li {
    font-weight: normal;
    font-size: 1.2rem;
    font-family: "Slate W02 Book",Arial,sans-serif;
    color: #45555f;
    line-height: 1.65rem;
}

.address-block {
    margin-bottom: 2.2rem!important;
}
.info-accordion h6 {
    font-family: "Slate W02 Book",Arial,sans-serif;
    font-size: 1.6rem;
    margin: 0 0 15px 0;
}

/* hide unauthored hamburger menu on desktop */
@media only screen and (min-width: 64.063em) {
    .main-nav nav {
        margin-right: 1rem;
    }
    .main-nav .nav-icon-link {
        display: none;
    }
}
