.main-nav .logo-container img {
  width: 100%;
  max-width: 250px !important;
  min-width: 145px !important;
}
@media only screen and (max-width: 640px) {
  .main-nav .logo-container {
    width: 85%;
  }
}
@media only screen and (max-width: 455px) {
  .main-nav .logo-container {
    width: 75%;
  }
}
