
/* line 1, ../../scss/components/themes/body/chikfila/_chikfila-theme-body.scss */
.main-nav .logo-container img {
  width: 100%;
  max-width: 353px !important;
  min-width: 125px !important;
}

@media only screen and (max-width: 1024px) and (min-width: 641px) {
  /* line 7, ../../scss/components/themes/body/chikfila/_chikfila-theme-body.scss */
  .main-nav .logo-container {
    width: auto;
  }
}
@media only screen and (max-width: 640px) {
  /* line 12, ../../scss/components/themes/body/chikfila/_chikfila-theme-body.scss */
  .main-nav .logo-container {
    width: 85%;
  }
}
@media only screen and (max-width: 455px) {
  /* line 17, ../../scss/components/themes/body/chikfila/_chikfila-theme-body.scss */
  .main-nav .logo-container {
    width: 75%;
  }
}

/* hide unauthored hamburger menu on desktop */
@media only screen and (min-width: 64.063em) {
    .main-nav nav {
        margin-right: 1rem;
    }
    .main-nav .nav-icon-link {
        display: none;
    }
}
