
/* line 2, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card {
  text-align: center;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 641px) {
  /* line 2, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card {
    padding: 2rem .75rem;
  }
}
/* line 9, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card--title {
  color: #37424a;
  margin: 0 0 1rem 0;
  font-family: "Slate W02 Bold", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.15;
  width: auto;
}
/* line 18, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card .box {
  padding: 0;
  border: none;
  margin-bottom: 0;
  min-height: auto;
  background-color: transparent;
}
@media only screen and (max-width: 40em) {
  /* line 18, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card .box {
    max-width: 100%;
  }
}
/* line 28, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card .box p {
  width: 75%;
  margin: 0 auto 1rem auto;
  font-size: 1.1rem;
  line-height: 1.375rem;
}
@media only screen and (min-width: 641px) {
  /* line 28, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card .box p {
    min-height: 85px;
  }
}
/* line 37, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card--icon {
  display: block;
  margin: 1rem auto .75rem auto;
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 641px) {
  /* line 37, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card--icon {
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
  }
}
/* line 50, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card--icon.gears-icon {
  background-image: url("images/gears-icon-dark-grey.svg");
  background-size: 55px 45px;
  width: 55px;
  height: 45px;
}
@media only screen and (min-width: 641px) {
  /* line 50, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card--icon.gears-icon {
    background-size: 65px 55px;
    width: 65px;
    height: 55px;
  }
}
/* line 61, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card--icon.bulb-icon {
  background-image: url("images/bulb-icon-dark-grey.svg");
}
/* line 64, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card--icon.people-icon {
  background-image: url("images/people-icon-dark-grey.svg");
}
/* line 67, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card--icon.magnify-icon {
  background-image: url("images/magnify-icon-dark-grey.svg");
}
@media only screen and (min-width: 1025px) {
  /* line 73, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout {
    text-align: left;
    float: left;
    width: 100%;
    padding: 2rem 0;
    margin: 0 0 1rem 0;
  }
  /* line 81, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .promo-nav-card--title {
    display: block;
    float: left;
    margin: 0;
  }
  /* line 86, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .box {
    display: block;
    float: left;
  }
  /* line 89, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .box p {
    min-height: auto;
  }
  /* line 94, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .promo-nav-card--icon {
    display: block;
    float: left;
    margin: 0 2rem 0 0;
  }
  /* line 99, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .text-area {
    display: block;
    float: left;
  }
  /* line 103, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .mx-btn {
    display: block;
    float: right;
    margin-right: 1rem;
  }
  /* line 107, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
  .cyber-risk-theme-body .promo-nav-card.horizontal-layout .mx-btn:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
/* line 117, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-promo-nav-card.scss */
.cyber-risk-theme-body .promo-nav-card.bg-color {
  background-color: #006D9E;
}

/* line 2, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area {
  min-height: auto;
  height: auto;
  padding: 3rem 0 5rem 0;
  margin: 0 0 2rem 0;
  position: relative;
}
@media only screen and (min-width: 1025px) {
  /* line 2, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
  .cyber-risk-theme-body .feature-area {
    background-attachment: fixed;
    background-position: center -80px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* line 15, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area:after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  bottom: 0px;
  width: 100%;
  border-style: solid;
  border-width: 100px 120vw 0px 0;
  border-color: transparent #ffffff transparent transparent;
}
/* line 26, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .content-block {
  background-color: transparent;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
  height: auto !important;
  min-height: auto !important;
  text-align: center;
}
/* line 34, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .content-block p {
  color: #ffffff;
  font-family: "Slate W02 Light", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.15;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
  margin: 0 auto 2.5rem auto;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
}
@media only screen {
  /* line 34, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
  .cyber-risk-theme-body .feature-area .content-block p {
    width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 34, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
  .cyber-risk-theme-body .feature-area .content-block p {
    width: 65%;
  }
}
/* line 50, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .content-block .large-12 .large-8, .cyber-risk-theme-body .feature-area .content-block .l-section .l-section-col .large-8, .l-section .cyber-risk-theme-body .feature-area .content-block .l-section-col .large-8 {
  width: 100% !important;
}
/* line 53, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .content-block .large-12 .large-4.columns, .cyber-risk-theme-body .feature-area .content-block .l-section .l-section-col .large-4.columns, .l-section .cyber-risk-theme-body .feature-area .content-block .l-section-col .large-4.columns {
  display: none !important;
}
/* line 58, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area h1, .cyber-risk-theme-body .feature-area h2 {
  float: none;
  font-family: "Slate W02 Bold", Arial, sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
  text-transform: none;
  margin-bottom: .5rem;
}
/* line 70, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .link.blue {
  float: none;
  margin: 0 auto;
  display: inline-block;
  background-color: #006D9E;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding-right: 2.75rem;
  border-radius: 3px;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  transition: background-color 200ms;
  transition-timing-function: ease-out;
  display: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
@media only screen {
  /* line 70, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
  .cyber-risk-theme-body .feature-area .link.blue {
    width: auto;
  }
}
/* line 86, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .link.blue:after {
  border-top: none;
  border-bottom: none;
  border-left: none;
  content: "";
  right: 12px;
  top: 41%;
  margin-top: -6px;
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: transparent url("images/circle-arrow-white.svg") no-repeat;
  background-position: 0 0;
  opacity: 1;
  transform: rotate(180deg);
  box-shadow: 0 -1px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
/* line 107, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-feature-area.scss */
.cyber-risk-theme-body .feature-area .link.blue:hover {
  background-color: #ED2C67;
}

/* line 13, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  line-height: 1.15;
  text-align: left;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Slate W02 Bold", Arial, sans-serif;
  padding: .45em .65rem;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -moz-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -o-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -ms-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  background-color: #404040;
  color: #ffffff !important;
  margin: .5rem 0;
  font-size: .95rem;
}
/* line 33, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn:hover {
  background-color: #00A8C8;
  box-shadow: 0 2px 14px -6px #000000;
  color: #ffffff !important;
}

/* line 47, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--secondary {
  background-color: #404040;
  color: #ffffff;
}
/* line 50, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--secondary:hover {
  background-color: #ffffff !important;
  color: #404040 !important;
  box-shadow: 0 2px 14px -6px #000000;
  border-color: #ffffff !important;
}
/* line 59, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--hollow {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}
/* line 63, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--hollow:hover {
  background-color: #ffffff !important;
  color: #404040 !important;
  box-shadow: 0 2px 14px -6px #000000;
  border-color: #ffffff !important;
}
/* line 71, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--tiny {
  font-weight: normal;
  font-size: 0.75rem;
  font-family: "Slate W02 Bold", Arial, sans-serif;
  padding: .5rem .75rem;
  height: auto;
  line-height: .8;
}
/* line 80, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--large {
  font-size: 2rem;
  height: auto;
  padding: 2rem;
}
/* line 87, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--arrow {
  position: relative;
  padding: 1em 4em 1em 1em;
}
/* line 90, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--arrow:after {
  width: 0;
  height: 0;
  border-top: 0.375rem solid transparent;
  border-bottom: 0.375rem solid transparent;
  border-left: 0.375rem solid #ffffff;
  display: inline-block;
  content: "";
  position: absolute;
  right: 20px;
  z-index: 3;
  top: 35%;
  -webkit-transition: border 150ms;
  -moz-transition: border 150ms;
  -o-transition: border 150ms;
  -ms-transition: border 150ms;
  transition: border 150ms;
}
/* line 102, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--expand {
  width: 100%;
  text-align: center;
}
/* line 111, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--secondary:hover.c--arrow:after {
  border-left-color: #404040;
}
/* line 121, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--hollow:hover.c--arrow:after {
  border-left-color: #404040;
}
/* line 130, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--tiny.c--arrow:after {
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid #ffffff;
  display: inline-block;
  content: "";
  position: absolute;
  right: 12px;
  z-index: 3;
  top: 50%;
  margin-top: -4px;
  -webkit-transition: border 150ms;
  -moz-transition: border 150ms;
  -o-transition: border 150ms;
  -ms-transition: border 150ms;
  transition: border 150ms;
}
/* line 145, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--large.c--arrow {
  position: relative;
  padding: 1em 4em 1em 1em;
}
/* line 148, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-button.scss */
.mx-btn.c--large.c--arrow:after {
  width: 0;
  height: 0;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid #ffffff;
  display: inline-block;
  content: "";
  position: absolute;
  right: 30px;
  z-index: 3;
  top: 50%;
  margin-top: -10px;
  -webkit-transition: border 150ms;
  -moz-transition: border 150ms;
  -o-transition: border 150ms;
  -ms-transition: border 150ms;
  transition: border 150ms;
}

/* line 11, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--container {
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding-top: 1.5rem;
}
/* line 20, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--label-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* line 25, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--image-container {
  display: none;
}
/* line 28, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--image {
  width: 100%;
}
/* line 32, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--body-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* line 36, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--title {
  font-family: "Slate W02 Bold", Arial, sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
/* line 43, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--description {
  font-family: "Slate W02 Light", Arial, sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1.15;
  font-size: 1.1rem;
}
/* line 50, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--button {
  display: none;
}
/* line 54, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c .mx-contentcard-c--metadata {
  color: #bfbfbf;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
/* line 73, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.is-clickable .mx-contentcard-c--container {
  -webkit-transition: box-shadow 200ms, border 200ms;
  -moz-transition: box-shadow 200ms, border 200ms;
  -o-transition: box-shadow 200ms, border 200ms;
  -ms-transition: box-shadow 200ms, border 200ms;
  transition: box-shadow 200ms, border 200ms;
  box-shadow: 0px 0px 10px 0px transparent;
}
/* line 76, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.is-clickable .mx-contentcard-c--container:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  border: 1px solid transparent;
  cursor: pointer;
}
/* line 105, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image .mx-contentcard-c--container {
  position: relative;
}
/* line 109, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image .mx-contentcard-c--label-container {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  padding: 0;
}
/* line 117, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image .mx-contentcard-c--image-container {
  display: block;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}
/* line 134, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image.image-bottom .mx-contentcard-c--container {
  position: relative;
}
/* line 138, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image.image-bottom .mx-contentcard-c--label-container {
  position: relative;
  left: auto;
  top: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/* line 147, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image.image-bottom .mx-contentcard-c--image-container {
  padding: 1.5rem;
  padding-bottom: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 158, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-content-card.scss */
.cyber-risk-theme-body .mx-contentcard-c.show-image.image-bottom .mx-contentcard-c--body-container {
  margin-bottom: 13rem;
}

/* Full Width Carousel SCSS */
/* line 4, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel {
  margin: 0 0 2rem 0;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 4, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel {
    margin-bottom: 3.75rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 4, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel {
    margin-bottom: 3.75rem;
  }
}
/* line 15, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .slide .row .columns, .cyber-risk-theme-body .full-width-carousel .slide .l-section .l-section-row .columns, .l-section .cyber-risk-theme-body .full-width-carousel .slide .l-section-row .columns {
  overflow: hidden;
  padding: 0;
}
@media only screen and (min-width: 1025px) {
  /* line 21, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .slide .large-push-1 {
    left: 5%;
  }
  /* line 24, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .slide .large-6 {
    width: 55%;
  }
}
/* line 30, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box {
  background-color: #006D9E;
  margin: 0 0 4rem 0;
  position: relative;
  padding-top: 2.75rem;
  padding-bottom: 0;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 30, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .text-box {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 30, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .text-box {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
/* line 58, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box:after {
  position: absolute;
  content: " ";
  display: none;
  left: 0;
  bottom: -54px;
  width: 100%;
  border-style: solid;
  border-width: 54px 900px 0px 0;
  border-color: transparent #006D9E transparent transparent;
  transform: rotate(180deg);
}
@media only screen and (min-width: 1025px) {
  /* line 58, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .text-box:after {
    display: block;
  }
}
/* line 74, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box h2 {
  font-weight: normal;
  font-size: 1.5rem;
  font-family: "Slate W02 Bold", Arial, sans-serif;
  color: #ffffff;
}
/* line 78, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box p {
  color: #ffffff;
  font-family: "Slate W02 Light", Arial, sans-serif;
  margin: 0 auto 1rem auto;
  font-size: 1.1rem;
  line-height: 1.375rem;
}
/* line 86, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box .label {
  color: #ffffff;
  display: none;
}
/* line 90, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box a {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  line-height: 1;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Slate W02 Bold", Arial, sans-serif;
  padding: .45em .65rem;
  border-radius: 3px;
  color: #ffffff;
  margin: 1rem 0 0 0;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent;
  font-size: .95rem;
  -webkit-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -moz-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -o-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -ms-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
}
/* line 109, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .text-box a:hover {
  background-color: #00A8C8 !important;
  color: #ffffff !important;
  border-color: #00A8C8 !important;
  box-shadow: 0 2px 14px -6px #000000 !important;
}
@media only screen and (max-width: 40em) {
  /* line 30, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .text-box {
    max-height: 325px;
    overflow: visible;
  }
}
/* line 123, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .slick-prev, .cyber-risk-theme-body .full-width-carousel .slick-next {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 20px;
  top: 42.5%;
  opacity: .5;
  -webkit-transition: box-shadow 350ms, opacity 350ms;
  -moz-transition: box-shadow 350ms, opacity 350ms;
  -o-transition: box-shadow 350ms, opacity 350ms;
  -ms-transition: box-shadow 350ms, opacity 350ms;
  transition: box-shadow 350ms, opacity 350ms;
}
@media only screen and (min-width: 1025px) {
  /* line 133, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .slick-prev:before, .cyber-risk-theme-body .full-width-carousel .slick-next:before {
    width: 30px;
    height: 30px;
    display: block;
    background: transparent url("images/circle-arrow-white.svg") no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
  /* line 142, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .slick-prev:after, .cyber-risk-theme-body .full-width-carousel .slick-next:after {
    display: none;
  }
  /* line 145, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .slick-prev:hover, .cyber-risk-theme-body .full-width-carousel .slick-next:hover {
    opacity: 1;
    box-shadow: 0 2px 10px -4px #000000;
  }
}
/* line 155, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .slick-prev {
  left: 2rem;
}
/* line 161, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
.cyber-risk-theme-body .full-width-carousel .slick-next {
  right: 2rem;
}
@media only screen and (min-width: 1025px) {
  /* line 164, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-full-width-carousel.scss */
  .cyber-risk-theme-body .full-width-carousel .slick-next:before {
    transform: rotate(180deg);
  }
}

/* line 27, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .feature-carousel {
  display: none;
}
/* line 30, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body main {
  background-color: #ffffff;
}
/* line 33, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .breadcrumb {
  display: none;
}
/* line 40, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .blue-back-link {
  text-align: center;
}
/* line 42, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .blue-back-link a {
  padding: .5rem 1rem;
  background-color: #45555f;
  width: auto;
  display: inline-block;
  border-radius: 3px;
}
/* line 48, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .blue-back-link a:after {
  display: none;
}
/* line 51, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .blue-back-link a:hover {
  background-color: #00A8C8;
}
/* line 57, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .mx-section-header {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 8px;
}
@media only screen and (min-width: 1025px) {
  /* line 57, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
  .cyber-risk-theme-body .mx-section-header {
    text-align: left;
  }
}
/* line 65, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .mx-section-header--rule {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: -28px 0 0 0;
  padding: 0;
}
@media only screen and (min-width: 1025px) {
  /* line 65, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
  .cyber-risk-theme-body .mx-section-header--rule {
    margin: -30px 0 0 0;
  }
}
/* line 76, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .mx-section-header--title {
  font-family: "Slate W02 Light", Arial, sans-serif;
  display: inline-block;
  background-color: #ffffff;
  padding: 1rem;
  color: #bfbfbf;
  margin: 0;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1025px) {
  /* line 76, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
  .cyber-risk-theme-body .mx-section-header--title {
    font-size: 1.75rem;
    padding: 1rem 1rem 1rem 0;
  }
}
/* line 90, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .cyber-full-w .common-content {
  padding-top: 1rem;
  margin-bottom: 4rem;
  color: #ffffff;
}
/* line 94, ../../scss/components/themes/body/cyber-risk/_theme-cyber-risk-body.scss */
.cyber-risk-theme-body .cyber-full-w .common-content p {
  font-size: 1.1rem;
}
