/* line 2, ../../scss/components/themes/body/mai/_theme-mai-breadcrumb.scss */
body.mai-theme-body .breadcrumb {
  background-color: rgba(15, 176, 148, 0.14);
}
/* line 7, ../../scss/components/themes/body/mai/_theme-mai-breadcrumb.scss */
body.mai-theme-body .breadcrumb ul li::after {
  color: #004C4F;
}
/* line 13, ../../scss/components/themes/body/mai/_theme-mai-breadcrumb.scss */
body.mai-theme-body .breadcrumb ul li a {
  color: #004C4F;
}

/* line 1, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body {
  /* Text Styles */
}
/* line 5, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content h1 a, body.mai-theme-body .common-content h2 a, body.mai-theme-body .common-content h3 a, body.mai-theme-body .common-content h4 a, body.mai-theme-body .common-content h5 a, body.mai-theme-body .common-content h6 a, body.mai-theme-body .common-content li a, body.mai-theme-body .richtext h1 a, body.mai-theme-body .richtext h2 a, body.mai-theme-body .richtext h3 a, body.mai-theme-body .richtext h4 a, body.mai-theme-body .richtext h5 a, body.mai-theme-body .richtext h6 a, body.mai-theme-body .richtext li a {
  color: #00928F;
}
/* line 9, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content h1, body.mai-theme-body .common-content h2, body.mai-theme-body .richtext h1, body.mai-theme-body .richtext h2 {
  color: #00928F;
}
/* line 12, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content h3, body.mai-theme-body .common-content h3 a, body.mai-theme-body .richtext h3, body.mai-theme-body .richtext h3 a {
  color: #00928F;
}
/* line 15, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content h4, body.mai-theme-body .richtext h4 {
  color: #004C4F;
}
/* line 18, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content h5, body.mai-theme-body .richtext h5 {
  color: #004C4F;
}
/* line 21, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content h6, body.mai-theme-body .richtext h6 {
  color: #004C4F;
}
/* line 25, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content p a, body.mai-theme-body .richtext p a {
  color: #00928F;
}
/* line 54, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .common-content .incopy-cta a, body.mai-theme-body .richtext .incopy-cta a {
  color: #00928F;
}
/* line 71, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .quote {
  color: #00928F;
}
/* line 73, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .quote:before {
  color: #00928F;
}
/* line 76, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .quote:after {
  color: #00928F;
}
/* line 110, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .blog h1, body.mai-theme-body .blog h2 {
  color: #00928F;
}
/* line 114, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .blog h3, body.mai-theme-body .blog h3 a {
  color: #00928F;
}
/* line 124, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .article h1 {
  color: #00928F;
}
/* line 148, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .cq-header h1, body.mai-theme-body .cq-header h2 {
  color: #00928F;
}
/* line 157, ../../scss/components/themes/body/mai/_theme-mai-common-content.scss */
body.mai-theme-body .title h1, body.mai-theme-body .title h2 {
  color: #004C4F;
}

@media only screen and (max-width: 40em) {
  /* line 2, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
  body.mai-theme-body .box {
    max-width: 360px;
  }
}
/* line 10, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .box .text-area p {
  color: #37424a;
}
/* line 12, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .box .text-area p a {
  color: #00928F;
}
/* line 16, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .box .text-area a {
  color: #00928F;
}
/* line 19, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .box .text-area li {
  color: #37424a;
}
/* line 37, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .rt-rail-icon .cnt-area p {
  color: #37424a;
}
/* line 39, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .rt-rail-icon .cnt-area p a {
  color: #00928F;
  font-family: "Slate W02 Light", Arial, sans-serif;
}
/* line 44, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .rt-rail-icon .cnt-area a {
  color: #00928F;
}
/* line 47, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .rt-rail-icon .cnt-area li {
  color: #37424a;
}
/* line 87, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .resource-filter .filter-container {
  border-color: #004C4F;
  background-color: #fff;
}
/* line 90, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .resource-filter .filter-container a {
  color: #004C4F;
}
/* line 95, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .resource-filter .current-filter:after {
  color: #004C4F;
  background-color: #004C4F;
}
/* line 111, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .resource-filter .sub-menu {
  background-color: #fff;
}
/* line 145, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .download .orange-btn {
  background-color: #0FB694;
}
/* line 147, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .download .orange-btn:hover {
  background-color: #00928F;
}
/* line 155, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .login-box #rightRailLogin, body.mai-theme-body .login-box #registerButton {
  background-color: #0FB694;
}
/* line 157, ../../scss/components/themes/body/mai/_theme-mai-rt-rail.scss */
body.mai-theme-body .login-box #rightRailLogin:hover, body.mai-theme-body .login-box #registerButton:hover {
  background-color: #00928F;
}

/* line 4, ../../scss/components/themes/body/mai/_theme-mai-blue-button.scss */
body.mai-theme-body .blue-back-link a {
  background-color: #0FB694;
}
/* line 8, ../../scss/components/themes/body/mai/_theme-mai-blue-button.scss */
body.mai-theme-body .blue-back-link a:hover {
  background-color: #00928F;
}

/* line 2, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav {
  background-color: #004C4F;
}
/* line 4, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .logo-container {
  padding-left: .9375rem;
}
/* line 6, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .logo-container img {
  max-width: 215px !important;
  min-width: 165px !important;
}
@media only screen and (max-width: 40em) {
  /* line 14, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li > a {
    color: #00928F;
    border: none;
    padding-left: 3px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 21, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li > a {
    color: #00928F;
    border: none;
    padding-left: 3px;
  }
}
@media only screen and (max-width: 40em) {
  /* line 27, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li:first-child {
    border: none;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 27, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li:first-child {
    border: none;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 36, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li:hover {
    background-color: #00928F;
  }
  /* line 38, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li:hover > a {
    background-color: #00928F;
  }
  /* line 40, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li:hover > a.has-sub {
    color: #fff;
  }
  /* line 42, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li:hover > a.has-sub:after {
    border-bottom-color: #00928F;
  }
}
@media only screen and (max-width: 40em) {
  /* line 51, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li > a.open {
    background-color: transparent;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 57, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li > a {
    color: #00928F;
  }
  /* line 59, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li > a.open {
    background-color: transparent;
  }
}
/* line 64, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .list-nav > li > a {
  color: #00928F;
}
@media only screen and (min-width: 1025px) {
  /* line 64, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .list-nav > li > a {
    color: #fff;
  }
}
/* line 73, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .sub-menu span {
  background-color: #00928F;
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  /* line 81, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .nav-icon-link:hover .nav-icon,
  body.mai-theme-body .main-nav .nav-icon-link:hover .nav-icon:before,
  body.mai-theme-body .main-nav .nav-icon-link:hover .nav-icon:after {
    background-color: #0FB694;
  }
}
/* line 90, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .nav-icon-link.active:after {
  border-bottom-color: #0FB694;
}
@media only screen and (max-width: 40em) {
  /* line 90, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .nav-icon-link.active:after {
    border-bottom-color: #fff;
    top: 43px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 90, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .main-nav .nav-icon-link.active:after {
    border-bottom-color: #fff;
    top: 43px;
  }
}
/* line 101, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .nav-icon-link.active .nav-icon, body.mai-theme-body .main-nav .nav-icon-link.active .nav-icon:before, body.mai-theme-body .main-nav .nav-icon-link.active .nav-icon:after {
  background-color: #0FB694;
}
/* line 105, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .nav-icon-link span {
  color: #fff;
}
/* line 109, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .nav-icon {
  background-color: #fff;
}
/* line 111, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .main-nav .nav-icon:before, body.mai-theme-body .main-nav .nav-icon:after {
  background-color: #fff;
}
@media only screen and (min-width: 1025px) {
  /* line 117, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .slide-down-panel {
    background-color: #0FB694;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 121, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
  body.mai-theme-body .slide-down-panel:after, body.mai-theme-body .slide-down-panel:before {
    background-color: #0FB694;
  }
}
/* line 127, ../../scss/components/themes/body/mai/_theme-mai-main-nav-invert.scss */
body.mai-theme-body .slide-down-panel .slide-list a {
  background-color: #0FB694;
}

/* line 6, ../../scss/components/themes/body/mai/_theme-mai-feature-area.scss */
body.mai-theme-body .feature-area .content-block p {
  color: #004C4F;
}
/* line 14, ../../scss/components/themes/body/mai/_theme-mai-feature-area.scss */
body.mai-theme-body .feature-area .content-block .quote, body.mai-theme-body .feature-area .content-block .quote p, body.mai-theme-body .feature-area .content-block .quote li {
  color: #00928F;
}
/* line 22, ../../scss/components/themes/body/mai/_theme-mai-feature-area.scss */
body.mai-theme-body .feature-area .link {
  background-color: #0FB694 !important;
}
/* line 37, ../../scss/components/themes/body/mai/_theme-mai-feature-area.scss */
body.mai-theme-body .feature-area .main-content h1 {
  color: #0FB694;
  text-transform: none;
}
/* line 128, ../../scss/components/themes/body/mai/_theme-mai-feature-area.scss */
body.mai-theme-body .feature-area.lvl-01.lvl-03, body.mai-theme-body .feature-area.lvl-01.lvl-04, body.mai-theme-body .feature-area.lvl-02.lvl-03, body.mai-theme-body .feature-area.lvl-02.lvl-04, body.mai-theme-body .feature-area.lvl-03.lvl-03, body.mai-theme-body .feature-area.lvl-03.lvl-04, body.mai-theme-body .feature-area.lvl-04.lvl-03, body.mai-theme-body .feature-area.lvl-04.lvl-04 {
  background-color: #0FB694;
}

/* line 2, ../../scss/components/themes/body/mai/_theme-mai-social-module.scss */
body.mai-theme-body .social-module-container {
  background-color: #00928F;
}
@media only screen and (max-width: 40em) {
  /* line 2, ../../scss/components/themes/body/mai/_theme-mai-social-module.scss */
  body.mai-theme-body .social-module-container {
    height: auto;
  }
}

/* line 2, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
body.mai-theme-body .optco-container {
  background-color: #004C4F;
  height: 80px;
}
@media only screen and (max-width: 40em) {
  /* line 2, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
  body.mai-theme-body .optco-container {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  /* line 2, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
  body.mai-theme-body .optco-container {
    height: auto;
  }
}
@media only screen and (max-width: 40em) {
  /* line 16, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
  body.mai-theme-body .optco-nav .optco-list {
    padding-left: 2px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  /* line 16, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
  body.mai-theme-body .optco-nav .optco-list {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}
/* line 24, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
body.mai-theme-body .optco-nav .optco-list img {
  width: 169px;
  height: 23px;
}
/* line 35, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
body.mai-theme-body .policies-container .copyright {
  color: #004C4F;
}
/* line 37, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
body.mai-theme-body .policies-container .copyright p {
  color: #00928F;
}
/* line 44, ../../scss/components/themes/body/mai/_theme-mai-optco-container.scss */
body.mai-theme-body .policies-container a {
  color: #00928F;
}

/* line 10, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
body.mai-theme-body .text-slider-wrap h3 {
  color: #004C4F;
}
/* line 16, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
body.mai-theme-body .text-slider-wrap .slick-prev,
body.mai-theme-body .text-slider-wrap .slick-next {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 20px;
  top: 2%;
  opacity: .5;
  -webkit-transition: box-shadow 350ms, opacity 350ms;
  -moz-transition: box-shadow 350ms, opacity 350ms;
  -o-transition: box-shadow 350ms, opacity 350ms;
  -ms-transition: box-shadow 350ms, opacity 350ms;
  transition: box-shadow 350ms, opacity 350ms;
}
@media only screen and (min-width: 1025px) {
  /* line 27, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
  body.mai-theme-body .text-slider-wrap .slick-prev:before,
  body.mai-theme-body .text-slider-wrap .slick-next:before {
    width: 30px;
    height: 30px;
    display: block;
    background: transparent url("../images/ui/circle-arrow-turquoise.svg") no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
  /* line 35, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
  body.mai-theme-body .text-slider-wrap .slick-prev:after,
  body.mai-theme-body .text-slider-wrap .slick-next:after {
    display: none;
  }
  /* line 38, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
  body.mai-theme-body .text-slider-wrap .slick-prev:hover,
  body.mai-theme-body .text-slider-wrap .slick-next:hover {
    opacity: 1;
    box-shadow: 0 2px 10px -4px #000000;
  }
}
/* line 44, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
body.mai-theme-body .text-slider-wrap .slick-prev {
  left: -40px;
}
/* line 50, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
body.mai-theme-body .text-slider-wrap .slick-next {
  right: -40px;
}
@media only screen and (min-width: 1025px) {
  /* line 53, ../../scss/components/themes/body/mai/_theme-mai-text-slider.scss */
  body.mai-theme-body .text-slider-wrap .slick-next:before {
    transform: rotate(180deg);
  }
}

/* line 10, ../../scss/components/themes/body/mai/_theme-mai-homepage-feature-area.scss */
body.mai-theme-body .homepage-feature-area .text-box h2 {
  color: #0FB694;
}
/* line 16, ../../scss/components/themes/body/mai/_theme-mai-homepage-feature-area.scss */
body.mai-theme-body .homepage-feature-area .text-box .learn-more {
  color: #0FB694;
}
/* line 18, ../../scss/components/themes/body/mai/_theme-mai-homepage-feature-area.scss */
body.mai-theme-body .homepage-feature-area .text-box .learn-more:after {
  border-left-color: #0FB694;
}

/* line 5, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
body.mai-theme-body .feature-carousel .carousel-panel .item {
  border-color: #0FB694;
}
/* line 16, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
body.mai-theme-body .feature-carousel .carousel-panel .text-wrap h2 a {
  color: #004C4F;
}
/* line 21, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
body.mai-theme-body .feature-carousel .carousel-panel .text-wrap a.learn-more {
  color: #00928F;
}
/* line 26, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
body.mai-theme-body .feature-carousel .carousel-panel .slick-prev, body.mai-theme-body .feature-carousel .carousel-panel .slick-next {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 20px;
  top: 42.5%;
  opacity: .5;
  -webkit-transition: box-shadow 350ms, opacity 350ms;
  -moz-transition: box-shadow 350ms, opacity 350ms;
  -o-transition: box-shadow 350ms, opacity 350ms;
  -ms-transition: box-shadow 350ms, opacity 350ms;
  transition: box-shadow 350ms, opacity 350ms;
}
@media only screen and (min-width: 1025px) {
  /* line 36, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
  body.mai-theme-body .feature-carousel .carousel-panel .slick-prev:before, body.mai-theme-body .feature-carousel .carousel-panel .slick-next:before {
    width: 30px;
    height: 30px;
    display: block;
    background: transparent url("../images/ui/circle-arrow-turquoise.svg") no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
  /* line 44, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
  body.mai-theme-body .feature-carousel .carousel-panel .slick-prev:after, body.mai-theme-body .feature-carousel .carousel-panel .slick-next:after {
    display: none;
  }
  /* line 47, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
  body.mai-theme-body .feature-carousel .carousel-panel .slick-prev:hover, body.mai-theme-body .feature-carousel .carousel-panel .slick-next:hover {
    opacity: 1;
    box-shadow: 0 2px 10px -4px #000000;
  }
}
/* line 57, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
body.mai-theme-body .feature-carousel .carousel-panel .slick-prev {
  left: -20px;
}
/* line 63, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
body.mai-theme-body .feature-carousel .carousel-panel .slick-next {
  right: -20px;
}
@media only screen and (min-width: 1025px) {
  /* line 66, ../../scss/components/themes/body/mai/_theme-mai-two-content-carousel.scss */
  body.mai-theme-body .feature-carousel .carousel-panel .slick-next:before {
    transform: rotate(180deg);
  }
}

/* line 4, ../../scss/components/themes/body/mai/_theme-mai-slick-dots.scss */
body.mai-theme-body .slick-dots li button {
  background-color: #0FB694;
}
/* line 9, ../../scss/components/themes/body/mai/_theme-mai-slick-dots.scss */
body.mai-theme-body .slick-dots li.slick-active button {
  background-color: #00928F;
}

/* line 14, ../../scss/components/themes/body/mai/_theme-mai-full-width-carousel.scss */
body.mai-theme-body .full-width-carousel .text-box h2 {
  color: #004C4F;
}
/* line 19, ../../scss/components/themes/body/mai/_theme-mai-full-width-carousel.scss */
body.mai-theme-body .full-width-carousel .text-box a {
  color: #00928F;
}

/* line 2, ../../scss/components/themes/body/mai/_theme-mai-cookie-consent.scss */
body.mai-theme-body .cookie-consent {
  background-color: #00928F;
}
/* line 4, ../../scss/components/themes/body/mai/_theme-mai-cookie-consent.scss */
body.mai-theme-body .cookie-consent a.btn {
  color: #004C4F;
}

/* line 3, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .resource-filter #clearAll {
  color: #0FB694;
}
/* line 7, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .grid article {
  border-top: 5px solid #00928F;
}
/* line 12, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list article {
  border-left: 5px solid #00928F;
}
/* line 17, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources h3 {
  color: #004C4F;
}
/* line 43, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list article {
  height: 160px;
  width: 97%;
  max-width: 100%;
  margin-bottom: 2rem;
}
/* line 52, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list .item {
  border-top: 1px solid #eaeaea;
  height: inherit;
}
/* line 56, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list button {
  bottom: 1px;
}
/* line 59, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list .article-copy {
  height: 88px;
}
/* line 62, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list ul {
  bottom: 0;
  left: 0.625rem;
}
/* line 66, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list .default {
  border: none;
}
/* line 68, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .list .default .item {
  border-left: 1px solid #eaeaea;
}
/* line 81, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .grid .item {
  border-left: 1px solid #eaeaea;
}
/* line 87, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .grid ul {
  padding-left: 0;
}
/* line 90, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .grid .default {
  border: none;
}
/* line 92, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .grid .default .item {
  border-top: 1px solid #eaeaea;
}
/* line 97, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .infinite-scroll-item:last-child {
  float: left;
}
/* line 100, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .asset-container {
  padding-left: 4%;
}
@media only screen and (min-width: 1025px) {
  /* line 100, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
  body.mai-theme-body .article-resources .asset-container {
    padding-left: 0;
  }
}
/* line 109, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .doc-views, body.mai-theme-body .article-resources .doc-size {
  margin-left: 15px;
}
/* line 111, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .doc-views span, body.mai-theme-body .article-resources .doc-size span {
  background-size: 200px;
  background: transparent url("../images/marsh-sprite.png") no-repeat;
  margin-top: -6px;
}
/* line 119, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .flag {
  background-size: 200px;
  background: transparent url("../images/marsh-sprite.png") no-repeat;
  width: 31px;
  height: 25px;
  cursor: pointer;
  float: right;
  background-position: 0px -180px;
  margin-right: 14px;
  margin-top: 7px;
}
/* line 130, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .flag.active-state {
  background-position: 0px -148px;
}
/* line 135, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .doc-views span {
  width: 31px;
  height: 25px;
  background-position: 0px -91px;
}
/* line 144, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .doc-size span {
  width: 31px;
  height: 25px;
  background-position: 0px -58px;
}
/* line 151, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources #loadingCue {
  display: none;
  text-align: center;
  background: transparent url("../images/ajax-loader.gif") no-repeat;
  width: 41px;
  height: 41px;
  margin: 0px auto;
}
/* line 158, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources #loadingCue.initial {
  position: relative;
  top: -130px;
}
/* line 163, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources #finishedLoading {
  bottom: 15px;
  display: none;
  text-align: center;
  width: 100%;
  position: absolute;
}
/* line 170, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .label {
  font-weight: normal;
  font-size: 0.8125rem;
  font-family: "Slate W02 Light", Arial, sans-serif;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #45555f;
  margin: 0;
}
/* line 180, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources .splitter {
  color: #45555f;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
/* line 189, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body #media ul {
  width: 91%;
}
/* line 193, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body #media.grid .doc-views {
  float: right;
}
/* line 200, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body #events ul {
  position: inherit;
  padding: 0.875rem 0.625rem 0;
}
/* line 211, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources h2 a {
  color: #004C4F;
}
/* line 215, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources a {
  text-decoration: none;
}
/* line 218, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .article-resources #nextPage {
  display: none;
}
/* line 223, ../../scss/components/themes/body/mai/_theme-mai-carousel-resarticle.scss */
body.mai-theme-body .infinite-scroll-container #loadCue {
  display: inline-block;
  text-align: center;
  background: transparent url("../images/ajax-loader.gif") no-repeat;
  width: 41px;
  height: 41px;
  margin: 0px 45%;
}

/* Hero SCSS */
/* line 9, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero .content-block h1 {
  color: #004C4F;
}
/* line 13, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero .content-block h2 {
  color: #004C4F;
}
/* line 62, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.large-header-white .content-block h1, body.mai-theme-body .hero.large-header-white .content-block h2 {
  color: #004C4F;
}
/* line 71, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.small-header-white .content-block h1, body.mai-theme-body .hero.small-header-white .content-block h2 {
  color: #004C4F;
}
/* line 81, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.event-detail .content-block h1, body.mai-theme-body .hero.event-detail .content-block h2 {
  color: #004C4F;
}
/* line 92, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.generic-header h1, body.mai-theme-body .hero.generic-header h2, body.mai-theme-body .hero.events h1, body.mai-theme-body .hero.events h2, body.mai-theme-body .hero.media-center h1, body.mai-theme-body .hero.media-center h2 {
  color: #004C4F;
}
/* line 96, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.generic-header h3, body.mai-theme-body .hero.events h3, body.mai-theme-body .hero.media-center h3 {
  color: #004C4F;
}
/* line 116, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.page-header h1, body.mai-theme-body .hero.page-header h2 {
  color: #004C4F;
}
/* line 120, ../../scss/components/themes/body/mai/_theme-mai-hero.scss */
body.mai-theme-body .hero.page-header h3 {
  color: #004C4F;
}

/* line 11, ../../scss/components/themes/body/mai/_theme-mai-c-search.scss */
body.mai-theme-body .c-search .c-search__submit:hover, body.mai-theme-body .c-search .c-search__submit:focus {
  background-color: #0FB694;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 67, ../../scss/components/themes/body/mai/_theme-mai-c-search.scss */
  body.mai-theme-body .c-search .c-search__submit {
    background-color: #0FB694;
  }
}
@media only screen and (max-width: 40em) {
  /* line 84, ../../scss/components/themes/body/mai/_theme-mai-c-search.scss */
  body.mai-theme-body .c-search .c-search__submit {
    background-color: #0FB694;
  }
}

/* line 5, ../../scss/components/themes/body/mai/_theme-mai-c-portal-link.scss */
body.mai-theme-body .c-portal-link {
  position: relative;
}
/* line 7, ../../scss/components/themes/body/mai/_theme-mai-c-portal-link.scss */
body.mai-theme-body .c-portal-link .c-portal-link__button {
  background-color: #00928F;
}
/* line 9, ../../scss/components/themes/body/mai/_theme-mai-c-portal-link.scss */
body.mai-theme-body .c-portal-link .c-portal-link__button:hover, body.mai-theme-body .c-portal-link .c-portal-link__button:focus {
  background-color: #0FB694;
}
@media only screen and (max-width: 40em) {
  /* line 43, ../../scss/components/themes/body/mai/_theme-mai-c-portal-link.scss */
  body.mai-theme-body .c-portal-link .c-portal-link__button {
    background: #00928F url("../images/marsh-sprite.png") no-repeat -138px -189px;
  }
}

/* line 6, ../../scss/components/themes/body/mai/_theme-mai-hero-search-results.scss */
body.mai-theme-body .hero.large-header-solid-search h1, body.mai-theme-body .hero.large-header-solid-search h2, body.mai-theme-body .hero.large-header-solid-search h3, body.mai-theme-body .hero.large-header-solid-search h4, body.mai-theme-body .hero.large-header-solid-search h5, body.mai-theme-body .hero.large-header-solid-search h6 {
  color: #004C4F;
}
/* line 50, ../../scss/components/themes/body/mai/_theme-mai-hero-search-results.scss */
body.mai-theme-body .hero .search-filter input[type="submit"] {
  -webkit-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -moz-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -o-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  -ms-transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  transition: background-color 150ms, color 150ms, box-shadow 150ms, border 150ms;
  background-color: #00928F;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 1px;
}
/* line 55, ../../scss/components/themes/body/mai/_theme-mai-hero-search-results.scss */
body.mai-theme-body .hero .search-filter input[type="submit"]:hover {
  background-color: #0FB694;
  box-shadow: 0 2px 14px -6px #000000;
}

/* line 25, ../../scss/components/themes/body/mai/_theme-mai-info-accordion.scss */
body.mai-theme-body .info-accordion .acc-inner-content li a, body.mai-theme-body .info-accordion .acc-inner-content a, body.mai-theme-body .info-accordion .acc-inner-content p a, body.mai-theme-body .info-accordion .acc-inner-content h1 a, body.mai-theme-body .info-accordion .acc-inner-content h2 a, body.mai-theme-body .info-accordion .acc-inner-content h3 a, body.mai-theme-body .info-accordion .acc-inner-content h4 a, body.mai-theme-body .info-accordion .acc-inner-content h5 a, body.mai-theme-body .info-accordion .acc-inner-content h6 a {
  color: #00928F;
}
/* line 42, ../../scss/components/themes/body/mai/_theme-mai-info-accordion.scss */
body.mai-theme-body .info-accordion h5 {
  background-color: #004C4F;
}
/* line 44, ../../scss/components/themes/body/mai/_theme-mai-info-accordion.scss */
body.mai-theme-body .info-accordion h5 span {
  background-color: #00928F;
}
/* line 46, ../../scss/components/themes/body/mai/_theme-mai-info-accordion.scss */
body.mai-theme-body .info-accordion h5 span:before {
  background-color: #BAE0CD;
}
/* line 50, ../../scss/components/themes/body/mai/_theme-mai-info-accordion.scss */
body.mai-theme-body .info-accordion h5:hover {
  background-color: #00928F;
}

/* line 9, ../../scss/components/themes/body/mai/_theme-mai-search-results.scss */
body.mai-theme-body .search-results h2, body.mai-theme-body .search-results h2 a, body.mai-theme-body .search-results h3, body.mai-theme-body .search-results h3 a {
  color: #00928F;
}

/* line 24, ../../scss/components/themes/body/mai/_theme-mai-body.scss */
body.mai-theme-body {
  background-color: #fff;
}
