/*Page header updates*/
.feature-area.lvl-01 .content-block {
  box-shadow:none;
  background-color: transparent;
  padding-left:0;
}

.feature-area.lvl-01 .content-block h1,
.feature-area.lvl-01 .content-block h2,
.feature-area.lvl-01 .content-block p {
  color:#ffffff;
}

.feature-area.lvl-01 .content-block h1 {
  font-family: "Slate W02 Bold",Arial,sans-serif;
}

.main-nav .logo-container img {
  width: 100%;
  max-width: 254px !important;
  min-width: 165px !important;
}

@media only screen and (max-width: 1024px) and (min-width: 641px) {
 
  .main-nav .logo-container {
    width: auto;
  }
}
@media only screen and (max-width: 640px) {
 
  .main-nav .logo-container {
    width: 85%;
  }
}
@media only screen and (max-width: 455px) {
 
  .main-nav .logo-container {
    width: 75%;
  }
}

/* hide unauthored hamburger menu on desktop */
@media only screen and (min-width: 64.063em) {
    .main-nav nav {
        margin-right: 1rem;
    }
    .main-nav .nav-icon-link {
        display: none;
    }
}


/*locations*/

.worth-loc {
  text-transform: uppercase;
    font-size: 1rem;
}
.worth-loc p {
    color: #45555f;
    font-size: 1rem;
    font-family: "Slate W02 Book",Arial,sans-serif;
    margin: 0 0 .625rem 0;
}
.worth-loc dl,
.worth-loc dl p,
.worth-loc dt p {
    padding: 0;
    text-transform: none;
    margin: 0 0 .625rem 0;
    color: #45555f;
    font-size: .875rem;
    font-family: "Slate W02 Book",Arial,sans-serif;
}

.worth-loc dl dt,
.worth-loc dl dd {
    padding: 0;
    margin: 0 0 .125rem 0;
}
.worth-loc dt {
    font-weight: normal;
    font-size: .875rem;
    font-family: "Slate W02 Bold",Arial,sans-serif;
    display: none;
}
.worth-loc-container {
    width: 20%;
    background-color: #ececec;
    position: relative;
    float: left;
    height: 150px;
    overflow: hidden;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 1024px) {
 .worth-loc-container {
    width: 32%;
  }
}
@media only screen and (max-width: 640px) {
 .worth-loc-container {
    width: 45%;
  }
}
.worth-loc-container .text-wrap{
  padding: 1.25rem;
    display: inline-block;
}

.common-content li, .richtext li {
    margin-bottom: .15rem;
}