/*
Error: Undefined variable: "$medium-only".
        on line 18 of /Users/tschlett/space/external-website/scss/components/themes/body/cyber-risk/theme-cyber-risk-feature-area.scss

13: 			background-color:transparent;
14: 			box-shadow:none;
15: 			p {
16: 				// color:$turquoise-dark;
17: 				.highlight {}
18: 				@media #{$medium-only}	{}
19: 			}
20: 			h1 {}
21: 			h2	{}
22: 
23: 			.quote, .quote p, .quote li {

Backtrace:
/Users/tschlett/space/external-website/scss/components/themes/body/cyber-risk/theme-cyber-risk-feature-area.scss:18
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/script/tree/interpolation.rb:170:in `_perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:543:in `block in run_interp_no_strip'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:541:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:541:in `run_interp_no_strip'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:548:in `run_interp'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:513:in `visit_media'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$medium-only\".\A         on line 18 of /Users/tschlett/space/external-website/scss/components/themes/body/cyber-risk/theme-cyber-risk-feature-area.scss\A \A 13: 			background-color:transparent;\A 14: 			box-shadow:none;\A 15: 			p {\A 16: 				// color:$turquoise-dark;\A 17: 				.highlight {}\A 18: 				@media #{$medium-only}	{}\A 19: 			}\A 20: 			h1 {}\A 21: 			h2	{}\A 22: \A 23: 			.quote, .quote p, .quote li {"; }
