/*
Error: Undefined variable: "$white".
        on line 21 of /Users/tschlett/space/external-website/scss/components/c/c-contentcard.scss

16: 
17: .mx-contentcard-c {
18:   .mx-contentcard-c--container {
19:     margin-top:$spacing-medium-large;
20:     margin-bottom:$spacing-medium-large * 2;
21:     background-color:$white;
22:     border-radius: $card-border-radius;
23:     border: $card-border;
24:     padding-top:$spacing-medium;
25:   }
26:   // label

Backtrace:
/Users/tschlett/space/external-website/scss/components/c/c-contentcard.scss:21
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/tschlett/.rvm/gems/ruby-2.5.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/tschlett/.rvm/gems/ruby-2.5.0/bin/compass:23:in `load'
/Users/tschlett/.rvm/gems/ruby-2.5.0/bin/compass:23:in `<main>'
/Users/tschlett/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `eval'
/Users/tschlett/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$white\".\A         on line 21 of /Users/tschlett/space/external-website/scss/components/c/c-contentcard.scss\A \A 16: \A 17: .mx-contentcard-c {\A 18:   .mx-contentcard-c--container {\A 19:     margin-top:$spacing-medium-large;\A 20:     margin-bottom:$spacing-medium-large * 2;\A 21:     background-color:$white;\A 22:     border-radius: $card-border-radius;\A 23:     border: $card-border;\A 24:     padding-top:$spacing-medium;\A 25:   }\A 26:   // label"; }
