@font-face {
  font-family: "Slate W02 Light";
  src: url("../../d3-fonts/SlateW02Light.eot?#iefix");
  src: url("../../d3-fonts/SlateW02Light.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02Light.woff2") format("woff2"), url("../../d3-fonts/SlateW02Light.woff") format("woff"), url("../../d3-fonts/SlateW02Light.ttf") format("truetype"), url("../../d3-fonts/SlateW02Light.svg#SlateW02Light") format("svg");
}
@font-face {
  font-family: "Slate W02 Light Italic";
  src: url("../../d3-fonts/SlateW02LightItalic.eot?#iefix");
  src: url("../../d3-fonts/SlateW02LightItalic.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02LightItalic.woff2") format("woff2"), url("../../d3-fonts/SlateW02LightItalic.woff") format("woff"), url("../../d3-fonts/SlateW02LightItalic.ttf") format("truetype"), url("../../d3-fonts/SlateW02LightItalic.svg#SlateW02LightItalic") format("svg");
}
@font-face {
  font-family: "Slate W02 Book";
  src: url("../../d3-fonts/SlateW02Book.eot?#iefix");
  src: url("../../d3-fonts/SlateW02Book.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02Book.woff2") format("woff2"), url("../../d3-fonts/SlateW02Book.woff") format("woff"), url("../../d3-fonts/SlateW02Book.ttf") format("truetype"), url("../../d3-fonts/SlateW02Book.svg#SlateW02Book") format("svg");
}
@font-face {
  font-family: "Slate W02 Book Italic";
  src: url("../../d3-fonts/SlateW02BookItalic.eot?#iefix");
  src: url("../../d3-fonts/SlateW02BookItalic.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02BookItalic.woff2") format("woff2"), url("../../d3-fonts/SlateW02BookItalic.woff") format("woff"), url("../../d3-fonts/SlateW02BookItalic.ttf") format("truetype"), url("../../d3-fonts/SlateW02BookItalic.svg#SlateW02BookItalic") format("svg");
}
@font-face {
  font-family: "Slate W02 Regular";
  src: url("../../d3-fonts/SlateW02Regular.eot?#iefix");
  src: url("../../d3-fonts/SlateW02Regular.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02Regular.woff2") format("woff2"), url("../../d3-fonts/SlateW02Regular.woff") format("woff"), url("../../d3-fonts/SlateW02Regular.ttf") format("truetype"), url("../../d3-fonts/SlateW02Regular.svg#SlateW02Regular") format("svg");
}
@font-face {
  font-family: "Slate W02 Regular Italic";
  src: url("../../d3-fonts/SlateW02RegularItalic.eot?#iefix");
  src: url("../../d3-fonts/SlateW02RegularItalic.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02RegularItalic.woff2") format("woff2"), url("../../d3-fonts/SlateW02RegularItalic.woff") format("woff"), url("../../d3-fonts/SlateW02RegularItalic.ttf") format("truetype"), url("../../d3-fonts/SlateW02RegularItalic.svg#SlateW02RegularItalic") format("svg");
}
@font-face {
  font-family: "Slate W02 Medium";
  src: url("../../d3-fonts/SlateW02Medium.eot?#iefix");
  src: url("../../d3-fonts/SlateW02Medium.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02Medium.woff2") format("woff2"), url("../../d3-fonts/SlateW02Medium.woff") format("woff"), url("../../d3-fonts/SlateW02Medium.ttf") format("truetype"), url("../../d3-fonts/SlateW02Medium.svg#SlateW02Medium") format("svg");
}
@font-face {
  font-family: "Slate W02 Medium Italic";
  src: url("../../d3-fonts/SlateW02MediumItalic.eot?#iefix");
  src: url("../../d3-fonts/SlateW02MediumItalic.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02MediumItalic.woff2") format("woff2"), url("../../d3-fonts/SlateW02MediumItalic.woff") format("woff"), url("../../d3-fonts/SlateW02MediumItalic.ttf") format("truetype"), url("../../d3-fonts/SlateW02MediumItalic.svg#SlateW02MediumItalic") format("svg");
}
@font-face {
  font-family: "Slate W02 Bold";
  src: url("../../d3-fonts/SlateW02Bold.eot?#iefix");
  src: url("../../d3-fonts/SlateW02Bold.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02Bold.woff2") format("woff2"), url("../../d3-fonts/SlateW02Bold.woff") format("woff"), url("../../d3-fonts/SlateW02Bold.ttf") format("truetype"), url("../../d3-fonts/SlateW02Bold.svg#SlateW02Bold") format("svg");
}
@font-face {
  font-family: "Slate W02 Bold Italic";
  src: url("../../d3-fonts/SlateW02BoldItalic.eot?#iefix");
  src: url("../../d3-fonts/SlateW02BoldItalic.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02BoldItalic.woff2") format("woff2"), url("../../d3-fonts/SlateW02BoldItalic.woff") format("woff"), url("../../d3-fonts/SlateW02BoldItalic.ttf") format("truetype"), url("../../d3-fonts/SlateW02BoldItalic.svg#SlateW02BoldItalic") format("svg");
}
@font-face {
  font-family: "Slate W02 Black";
  src: url("../../d3-fonts/SlateW02Black.eot?#iefix");
  src: url("../../d3-fonts/SlateW02Black.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02Black.woff2") format("woff2"), url("../../d3-fonts/SlateW02Black.woff") format("woff"), url("../../d3-fonts/SlateW02Black.ttf") format("truetype"), url("../../d3-fonts/SlateW02Black.svg#SlateW02Black") format("svg");
}
@font-face {
  font-family: "Slate W02 Black Italic";
  src: url("../../d3-fonts/SlateW02BlackItalic.eot?#iefix");
  src: url("../../d3-fonts/SlateW02BlackItalic.eot?#iefix") format("eot"), url("../../d3-fonts/SlateW02BlackItalic.woff2") format("woff2"), url("../../d3-fonts/SlateW02BlackItalic.woff") format("woff"), url("../../d3-fonts/SlateW02BlackItalic.ttf") format("truetype"), url("../../d3-fonts/SlateW02BlackItalic.svg#SlateW02BlackItalic") format("svg");
}
/* Global Styles and resets */
@media only screen and (min-width: 641px) {
  /* line 230, ../../../../scss/components/d3/d3-global.scss */
  body, html {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 40em) {
  /* line 235, ../../../../scss/components/d3/d3-global.scss */
  html {
    -webkit-text-size-adjust: 100%;
  }
}

/* line 240, ../../../../scss/components/d3/d3-global.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Slate W02 Book", Arial, sans-serif;
  height: auto;
  display: block;
  background-color: #fcfcfc;
}

/* line 249, ../../../../scss/components/d3/d3-global.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 264, ../../../../scss/components/d3/d3-global.scss */
img {
  border: none;
}

/* line 268, ../../../../scss/components/d3/d3-global.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  -webkit-font-smoothing: antialiased;
}

/* line 278, ../../../../scss/components/d3/d3-global.scss */
input, button, select {
  outline: none;
}

/* line 281, ../../../../scss/components/d3/d3-global.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 297, ../../../../scss/components/d3/d3-global.scss */
.prm-box, .tooltip {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: #fff;
}

/* line 302, ../../../../scss/components/d3/d3-global.scss */
.chart-container-linedot-table, .chart-container-table {
  margin-top: 1rem;
}
/* line 304, ../../../../scss/components/d3/d3-global.scss */
.chart-container-linedot-table table, .chart-container-table table {
  width: 100%;
  background-color: #fff;
}

/* line 309, ../../../../scss/components/d3/d3-global.scss */
.chart-table-container {
  margin-top: 1rem;
}
/* line 311, ../../../../scss/components/d3/d3-global.scss */
.chart-table-container table {
  width: 100%;
  background-color: #fff;
}

/* line 317, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container {
  text-align: center;
  margin: 0 0 2rem 0;
  background-color: transparent;
  border-top: 6px solid #f5f5f5;
  border-bottom: 6px solid #f5f5f5;
  font-weight: normal;
  font-size: 16px;
  font-family: "Slate W02 Medium", Arial, sans-serif;
  /* IE HACK CANVAS */
}
/* line 324, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .plot-wrap.no-svg {
  display: none;
  padding-bottom: 1rem;
}
/* line 327, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .plot-wrap.no-svg img {
  width: 100%;
  max-width: 706px;
}
/* line 338, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .svg-container {
  position: relative;
}
/* line 341, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .svg-container canvas {
  display: block;
  height: 100%;
  visibility: hidden;
}
/* line 346, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .svg-container svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 353, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .chart-title {
  font-weight: normal;
  font-size: 21px;
  font-family: "Slate W02 Medium", Arial, sans-serif;
  padding: 1.15rem 0 0 0;
  margin: 0;
  text-align: left;
}
/* line 359, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .chart-premise, .mx-dv-container .chart-citation {
  font-weight: normal;
  font-size: 16px;
  font-family: "Slate W02 Light", Arial, sans-serif;
  color: #808080;
  padding: .25rem 0 1rem 0;
  margin: 0;
  text-align: left;
}
/* line 365, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .chart-premise p, .mx-dv-container .chart-premise input, .mx-dv-container .chart-citation p, .mx-dv-container .chart-citation input {
  margin: 0;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding: 0 .75rem .25rem 0;
}
/* line 373, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .chart-citation {
  font-weight: normal;
  font-size: 13px;
  font-family: "Slate W02 Light Italic", Arial, sans-serif;
  color: #bdbdbd;
}
/* line 377, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .raw-wrap {
  text-align: right;
  padding: 0 1.5rem 0 0;
  margin: 0;
}
/* line 382, ../../../../scss/components/d3/d3-global.scss */
.mx-dv-container .raw-wrap .raw-btn {
  font-weight: normal;
  font-size: 14px;
  font-family: "Slate W02 Light Italic", Arial, sans-serif;
  cursor: pointer;
  margin: 0 0 .75rem 0;
  padding: 0;
}

/* line 392, ../../../../scss/components/d3/d3-global.scss */
.tooltip {
  top: -1000px;
  position: fixed;
  padding: .65rem;
  pointer-events: none;
  max-width: 25%;
  z-index: 500;
}

/* line 401, ../../../../scss/components/d3/d3-global.scss */
.tooltip-info {
  color: #45555f;
  font-weight: normal;
  font-size: 16px;
  font-family: "Slate W02 Regular", Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}
/* line 408, ../../../../scss/components/d3/d3-global.scss */
.tooltip-info span {
  font-weight: normal;
  font-size: 16px;
  font-family: "Slate W02 Bold", Arial, sans-serif;
}

/* line 413, ../../../../scss/components/d3/d3-global.scss */
.tooltip-hidden {
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

/* line 419, ../../../../scss/components/d3/d3-global.scss */
.dnld-btn {
  display: block;
  width: 100%;
  margin-top: -1.25rem;
  padding: .75rem 1.25rem;
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  font-family: "Slate W02 Light Italic", Arial, sans-serif;
}
/* line 426, ../../../../scss/components/d3/d3-global.scss */
.dnld-btn:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 40em) {
  /* line 447, ../../../../scss/components/d3/d3-global.scss */
  .mx-dv-container .plot-wrap.no-svg {
    display: block;
  }
  /* line 451, ../../../../scss/components/d3/d3-global.scss */
  .mx-dv-container .plot-wrap.w-svg {
    display: none;
  }
}
/* line 9, ../../../../scss/components/d3/m-flood-bubble-scale.scss */
#cBubbleScale .domain {
  display: none;
}
/* line 12, ../../../../scss/components/d3/m-flood-bubble-scale.scss */
#cBubbleScale .value-text {
  font-weight: normal;
  font-size: 21px;
  font-family: "Slate W02 Bold Italic", Arial, sans-serif;
  fill: #233444;
}
/* line 16, ../../../../scss/components/d3/m-flood-bubble-scale.scss */
#cBubbleScale .event-text {
  font-weight: normal;
  font-size: 14px;
  font-family: "Slate W02 Regular", Arial, sans-serif;
  fill: #1281b2;
}
/* line 20, ../../../../scss/components/d3/m-flood-bubble-scale.scss */
#cBubbleScale .scale-fixed {
  fill-opacity: .2;
}
/* line 26, ../../../../scss/components/d3/m-flood-bubble-scale.scss */
#cBubbleScale .anno-line {
  fill: #325C6F;
}
/* line 29, ../../../../scss/components/d3/m-flood-bubble-scale.scss */
#cBubbleScale .anno-dot {
  fill: #fff;
  stroke-width: .65;
  stroke: #325C6F;
}
